<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/desktop.css">
    <link rel="stylesheet" href="css/tablet.css">
    <link rel="stylesheet" href="css/mobile.css">
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <section>
        <h1>Order Tracking</h1>
        <div class="main">
            <div class="box_content">
                <div class="box_image_main">
                    <img class="image_main" src="/img/men_shirt_1.jpg" alt="">
                </div>
                
                <div class="text_main">
                    <div class="header_box_main">
                        <div class="header_name_main">
                            <h2>DRIES VAN NOTEN</h2>
                            <p>Ribbed merino wool sweater</p>
                        </div>
                    </div>
                    <div class="price_content">
                        <p><b>$785</b></p>
                    </div>
                    <div class="size-options">
                        <p><b>Size:</b></p>
                        <p>M</p>
                    </div>
                    <div class="color-options">
                        <p><b>Color:</b></p>
                        <p>More colors</p>
                    </div>
                    <div class="Order_content">
                        <div class="Order_1_content">
                            <p>Order ID:</p>
                        </div>
                        <div class="Order_1_content">
                            <p>ABC9889746846</p>
                        </div> 
                    </div>
                    <div class="Date_content">
                        <div class="Date_1_content">
                            <p>Date of payment:</p>
                        </div>
                        <div class="Date_1_content"></div>
                        <p>13/09/2024</p>
                    </div>
                    <div class="Waiting_content">
                        <p><b>Waiting for shipping</b></p>
                    </div>
                    <div class="btn_See_Detail">
                        <a href="#">See Detail</a>
                    </div>
                </div>
            </div>
            <div class="box_content">
                <div class="box_image_main">
                    <img class="image_main" src="/img/men_shirt_1.jpg" alt="">
                </div>
                
                <div class="text_main">
                    <div class="header_box_main">
                        <div class="header_name_main">
                            <h2>DRIES VAN NOTEN</h2>
                            <p>Ribbed merino wool sweater</p>
                        </div>
                    </div>
                    <div class="price_content">
                        <p><b>$785</b></p>
                    </div>
                    <div class="size-options">
                        <p><b>Size:</b></p>
                        <p>M</p>
                    </div>
                    <div class="color-options">
                        <p><b>Color:</b></p>
                        <p>More colors</p>
                    </div>
                    <div class="Order_content">
                        <div class="Order_1_content">
                            <p>Order ID:</p>
                        </div>
                        <div class="Order_1_content">
                            <p>ABC9889746846</p>
                        </div> 
                    </div>
                    <div class="Date_content">
                        <div class="Date_1_content">
                            <p>Date of payment:</p>
                        </div>
                        <div class="Date_1_content"></div>
                        <p>13/09/2024</p>
                    </div>
                    <div class="Waiting_content">
                        <p><b>Waiting for shipping</b></p>
                    </div>
                    <div class="btn_See_Detail">
                        <a href="#">See Detail</a>
                    </div>
                </div>
            </div>
            <div class="box_content">
                <div class="box_image_main">
                    <img class="image_main" src="/img/men_shirt_1.jpg" alt="">
                </div>
                
                <div class="text_main">
                    <div class="header_box_main">
                        <div class="header_name_main">
                            <h2>DRIES VAN NOTEN</h2>
                            <p>Ribbed merino wool sweater</p>
                        </div>
                    </div>
                    <div class="price_content">
                        <p><b>$785</b></p>
                    </div>
                    <div class="size-options">
                        <p><b>Size:</b></p>
                        <p>M</p>
                    </div>
                    <div class="color-options">
                        <p><b>Color:</b></p>
                        <p>More colors</p>
                    </div>
                    <div class="Order_content">
                        <div class="Order_1_content">
                            <p>Order ID:</p>
                        </div>
                        <div class="Order_1_content">
                            <p>ABC9889746846</p>
                        </div> 
                    </div>
                    <div class="Date_content">
                        <div class="Date_1_content">
                            <p>Date of payment:</p>
                        </div>
                        <div class="Date_1_content"></div>
                        <p>13/09/2024</p>
                    </div>
                    <div class="Waiting_content">
                        <p><b>Waiting for shipping</b></p>
                    </div>
                    <div class="btn_See_Detail">
                        <a href="#">See Detail</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>