@import url(../../../component/body/fonts.css);
@import url(../../../component/body/style.css);
@import url(../../../component/navbar/navbar.css);
@import url(../../../component/footer/footer.css);

/* responsive */
@import url(mobile.css);
@import url(mobile.css);

@media screen and (min-width:578px) and (max-width:1024px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .btn_addtobag{
        display: block;
        background-color: #0E6EB3;
        text-align: center;
       padding: 8px;
       margin-top: 20px;
       border-radius: 12px;
       border: 1px solid #000;
    }
    .btn_addtobag a{
        text-decoration: none;
        color: white;
    }
    .wishlist-icon {
        display: block;
        position: absolute; /* ตั้งตำแหน่ง absolute ไว้บนรูป */
        top: 20px;
        right: 20px;
        font-size: 40px; /* ปรับขนาดไอคอน */
        color: black; /* ตั้งสีของไอคอน */
        cursor: pointer;
        border-radius: 2px 2px 2px 2px; /* ทำให้พื้นหลังเป็นวงกลม */
        
    }
    .wishlist-icon:hover {
        transform: scale(1.2); 
        transition: transform 0.2s ease-in-out; 
        transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
    }
    .box_content{
        width:47%;
        margin-bottom: 40px;
        min-width: 213.06px;
        min-height: 322.59px;
        
    }
    
    .box_image_main{
        width: 100%;
        height: auto; /* หรือกำหนดความสูงตามต้องการ */
        min-width: 214px;
        min-height: 324px;
    }
    .box_image_main img{
        width: 100%;
        height: 100%; 
        object-fit: cover; /* ปรับให้รูปภาพขยายเต็ม container โดยคงสัดส่วน */
    }
}