.card-container {
   display: flex;
   gap: 3rem;
 }

 .card img {
   width: 100%;
 }

 .image_off,.card:hover .image_on {
   display: none;
 }

 .image_on,.card:hover .image_off {
   display: block;
 }
