@import url(../../../component/body/fonts.css);
@import url(../../../component/body/style.css);
@import url(../../../component/navbar/navbar.css);
@import url(../../../component/footer/footer.css);

/* responsive */
@import url(mobile.css);
@import url(tablet.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.0rem;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #ADD8E6;
    padding: 20px;
    font-size: 1.2em;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}
.logo_header{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    
}
.content_header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_header ul{
    display: flex;
    list-style-type: none;
}
.content_header ul li{
    padding-right: 40px;
}
.content_header a{
    text-decoration: none;
    color: black;
}
.BEM{
    position: sticky;
    top: 81px;
    z-index: 998;
    border-bottom: 1px solid #000;
    padding: 20px;
    background-color: white;
    margin: 0 80px;
}
.BEM ul{
    display: flex;
    list-style-type: none;
}   
.BEM li{
    margin-right: 40px;
}
.back{
    position: sticky;
    top: 143px;
    z-index: 997;
    border-bottom: 1px solid #000;
    background-color: white;
    padding: 10px ;
    margin: 0 80px;
}
section{    
    display: flex;
    margin: 50px 80px;
}
main{
    width: 70%;
    /* background-color: red; */
}
aside{
    width: 30%;
    /* background-color: #ADD8E6; */
    padding-left: 60px;
    min-width: 380px;
    min-height: 466px;
}
.box_content{
    display: flex;
    align-items: stretch; /* ให้ container ยืดเต็มขนาด */
     margin-bottom: 40px;
}

.box_image_main{
    width: 30%;
    height: auto; /* หรือกำหนดความสูงตามต้องการ */
    /* border: 1px solid #000; */
    min-width: 214px;
    min-height: 324px;
}
.box_image_main img{
    width: 100%;
    height: 100%; 
    object-fit: cover; /* ปรับให้รูปภาพขยายเต็ม container โดยคงสัดส่วน */
}
.text_main{
    display: block;
    width: 60%;
    /* border: 1px solid #000; */
    margin-left: 20px;
}
.header_box_main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.price_content{
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
}
.price_1_content{
    margin-right: 10px;
}
.size-options,.color-options {
    display: flex;
    align-items: center; /* จัดให้อยู่กึ่งกลางในแนวตั้ง */
    margin-bottom: 20px;
}

.size-options select,.color-options select {
    flex-grow: 1; /* ขยาย select ให้เต็มพื้นที่ที่เหลือ */
    margin-left: 10px; /* เพิ่มระยะห่างระหว่าง label กับ select */
    width: 100%; /* คงความกว้าง 100% */
    padding:8px 10px;
    border-radius: 12px;
}
.size-options label{
    margin-right: 11px;
}

/* .wrapper{
    width: 20%;
    min-width: 110px;
    display: flex;
    align-items: center;
    justify-self: center;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper div{
    width: 33.33333333%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
.wrapper .num{
    font-size: 1.3em;
    border-right: 2px solid rgba(0,0,0,0.2);
    border-left: 2px solid rgba(0,0,0,0.2);
    background-color: #0E6EB3;
    color: white;
}
.minus,.plus{
    cursor: pointer;
} */

.add_quantity{
    background-color: white;
    display: flex;
    text-align: center;
    min-width:100px ;
    max-width: 120px;
    border-radius: 8px;
    border: 1px solid #000;
    align-items: center;
}
.minus,.num,.plus{
    /* border: 1px solid #000; */
    width: 33.3333333%;
    padding: 2px;
}
.num{
   border-left: 1px solid #000;
   border-right: 1px solid #000;
   background-color: #0E6EB3;
   color: white;
}
.quantity_main label{
    margin-right: 15px;
}
.quantity_main{
    margin-top: 40px;
    text-align: center;
    display: flex;
    align-items: center;
}
.box_total{
    background-color: white;
    border: 1px solid #000;
}
.box_tatol_header{
    display: flex;
    justify-content: space-between;
    padding: 14px 10px;
    background-color: #ADD8E6;
    /* padding: 10px; */
}
.box_text_total{
    padding: 20px;
}
.text_total{
    display: flex;
    justify-content: space-between;
}
.in_text_total{
    margin: 8px 0 15px 15px; 
}
.in_text_total p{
    padding: 5px 0;
}
.divider {
    height: 2px; /* ความสูงของเส้น */
    background-color: #000; /* สีของเส้น */
    width: 100%; /* ความกว้าง 100% */
    margin: 20px 0; /* ระยะห่างด้านบนและล่าง */
}
.header_delete_main{
    color: #0E6EB3;
    padding: 10px 15px 0 0 ;
}
.content_total{
    position: sticky;
    top: 10px;
    z-index: 10;
}
.content_total h2{
    margin-bottom: 20px;
}
.btn_continue_checkout{
    padding: 20px;
    background-color: #0E6EB3;
    text-align: center;
    cursor: pointer;
}
.btn_continue_checkout a{
    color: white;
    
}