@import url(../../../component/body/fonts.css);
@import url(../../../component/body/style.css);
@import url(../../../component/navbar/navbar.css);
@import url(../../../component/footer/footer.css);
@import url(../../../component/bread_crump/bread_crump.css);

.container {
   margin: 0 10rem;
}

.form_addr {
   box-sizing: border-box;
}
 label{
   font-size: 1.2rem;
}
.name_setting input, .fname input, .lname input, .province input, .district input, .post_code input, .city input,.code input, input[type='tel']  {
   width: 100%;
   padding: .5rem;
   margin-top: .5rem;
   margin-bottom: .5rem;
   border-radius: 12px;
   border: 1px solid #000;
   box-sizing: border-box;
}

.name {
   display: flex;
   gap: 2rem;
}

.addr textarea {
   width: 100%;
   border-radius: 12px;
}
.fname, .lname, .province, .district {
   width: 100%;
}

.info {
   display: flex;
   gap: 2rem;
}

.post_code {
   width: 30%;
}

.post_code label {
   text-wrap: nowrap;
}
.city {
   width: 100%;
}

.phone_form {
   display: flex;
   gap: 2rem;
}

input[type="submit"] {
   background-color: #014197;
   color: #fff;
   width: 100%;
   padding: .5rem;
   font-size: 1.2rem;
   font-family: 'Text-Font';
   border-radius: 12px;
   margin-top: 4rem;
   margin-bottom: 2rem;
}
