@media only screen and (max-width: 426px) {
   .container {
      margin: 0;
      padding: 1rem;
   }
   .name {
      display: block;
   }

   .post_code {
      width: 30%;
   }
   .city {
      width: 80%;
   }
 }
