@import url(../../../component/body/fonts.css);
@import url(../../../component/body/style.css);
@import url(../../../component/navbar/navbar.css);
@import url(../../../component/footer/footer.css);

/* responsive */
@import url(mobile.css);
@import url(tablet.css);


.box {
   display: flex;
   position: relative;
   justify-content: center;
   height: 100vh;
 }

 .heading-text {
   font-family: "Heading-font";
   color: lightblue;
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
   font-size: 10rem;
   left: 50%;
   top: 45%;
   transform: translate(-50%, -50%);
   position: absolute;
   margin: 0;
 }

 .sub-heading-text {
   left: 50%;
   top: 70%;
   transform: translate(-50%, -50%);
   position: absolute;
   text-align: center;
 }

 .sub-heading-text a {
   border: 2px solid #000;
   background-color: transparent;
   color: #000;
   text-decoration: none;
   border-radius: 15px;
   font-size: 1.2rem;
   padding: 1rem;
   transition: 0.25s ease-in;
 }

 .sub-heading-text a:hover {
   background-color: lightblue;
   font-weight: bold;
   border-bottom: 7px solid #000;
 }

 .box-body {
   width: 25%;
   overflow: hidden;
 }

 .box-body img {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }


 .wrapper {
   display: flex;
   margin-bottom: 5rem;
 }

 .introduce {
   text-align: end;
 }

 .introduce h1 {
   font-size: 4rem;
   font-family: "Heading-font";
 }

 .btn-introduce {
   margin-top: 4rem;
 }

 .btn-introduce a {
   text-decoration: none;
   color: #000;
   border: 2px solid #000;
   padding: 0.8rem;
   border-radius: 15px;
   transition: 0.25s ease-in;
 }


 .btn-introduce a:hover, .category-tag a:hover {
   background-color: lightblue;
   font-weight: bold;
   border-bottom: 7px solid #000;
 }

 .category-tag {
   display: inline-block;
   margin-top: 1rem;
 }

 .category-tag a {
   text-decoration: none;
   color: #000;
   border: 2px solid #000;
   padding: .5rem;
   margin-left: .5rem;
   border-radius: 20px;
   transition: 0.25s ease-in;
 }


 .bg-img {
   width: 100%;
   display: flex;
   position: relative;
 }


 .bg-img img {
   width: 50%;
   object-fit: cover;
   object-position: left;
   z-index: 0;
 }



 .bg-img:hover .bg-img {
   display: block;
 }


 #left-div {
   text-align: start;
   margin-right: 1rem;
 }


 #right-div {
   margin-left: 1rem;
 }


 #full-img img {
   width: 100%;
 }



 .overlay {
   cursor: pointer;
   width: 100%;
   height: 100%;
   font-family: "Heading-font";
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
 }


 .btn-link {
   display: none;
   background-color: lightblue;
   width: 100%;
   text-align: center;
   position: absolute;
   bottom: 0;
 }

 .overlay:hover .btn-link {
   display: block;
 }
