@import url(../../../component/body/fonts.css);
@import url(../../../component/body/style.css);
@import url(../../../component/navbar/navbar.css);
@import url(../../../component/footer/footer.css);

/* responsive */
@import url(desktop.css);
@import url(tablet.css);

@media screen and (width < 578px){

    section{
        margin: 1em;
    }
    .box_content{
        width: 100%;
        margin-bottom: 50px;
    }
    .main{
        margin: 20px;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        min-width: 305px;
        
    }
    .box_content{
        
        margin-bottom: 50px;
    }
    .box_image_main{
        width: 100%;
        height: auto; /* หรือกำหนดความสูงตามต้องการ */
        min-width: 214px;
        min-height: 324px;
    }
    .box_image_main img{
        width: 100%;
        height: 100%; 
        object-fit: cover; /* ปรับให้รูปภาพขยายเต็ม container โดยคงสัดส่วน */
    }
    .btn_See_Detail{
        display: block;
        background-color: #0E6EB3;
        text-align: center;
       padding: 8px;
       margin-top: 20px;
       border-radius: 12px;
       border: 1px solid #000;
    }
    .btn_See_Detail a{
        text-decoration: none;
        color: white;
    }
    .text_main{
        display: block;
    }
    .Order_content{
        display: flex;
        justify-content: space-between;
    }
    .Date_content{
        display: flex;
        justify-content: space-between;
    }
    .size-options{
        display: flex;
        justify-content: start;
    }
    .color-options{
        display: flex;
        justify-content: start;
    }
    .header_box_main h2{
        margin-bottom: 10px;
    }
    .header_box_main p{
        margin-bottom: 10px;
    }
    .price_content{
        margin-bottom: 15px;
    }
    .Order_content{
        margin: 20px 0 10px 0;
    }
    .Date_1_content{
        margin-bottom: 15px;
    }
    .category {
        display: none;
      }
      .logo-brand {
        padding-left: 1em;
      }
      .menu {
        margin-right: 1em;
      }
      .menu-desktop {
        display: none;
      }
    
      #hamburger {
        display: block;
      }
      footer {
        display: block;
        text-align: center;
      }
    
      .Social-icon {
        justify-content: center;
      }
      .footer-menu {
        flex-direction: column;
        gap: 0;
        text-align: start;
      }
      .footer-menu-link {
        padding: 0;
        margin: 0;
      }
      .footer-menu-link li {
        padding: 0.5em 2em;
      }
      .footer-menu-link h4 {
        font-size: 1.2em;
      }
      .footer-info {
        width: 100%;
      }
      .footer-menu-link a {
        background-color: #fff;
        color: #014197;
        padding: 0.4em;
        border-radius: 5px;
      }

}