@import url(component/body/style.css);

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-body, .category-body {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
    
}

.logo {
    margin-top: 2em;
    margin-bottom: 1em;
}

.logo a {
    text-decoration: none;
    color: #000;
}

.logo h2 {
    margin: 0;
}

.nav-item, .category-item {
    display: inline-block;
    margin-right: 2em;
}

.nav-item:last-child, .category-item:last-child {
    margin: 0;
}

.nav-link {
    color: #000;
    text-decoration: none;
    padding: .5em 1em;
    transition: .5s ease;
}

.nav-link:hover {
    border-radius: 12px;
    color: #fff;
    background-color: var(--primary-color);
}

.category-link {
    color: #000;
    text-decoration: none;
}


.dropdown-1, .dropdown-2 {
    display: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding: 1em;
}

.show-dropdown-2 {
    position: relative;
}


.dropdown-1 {
    position: absolute;
    left: -1em;
}

.dropdown-1 a {
    display: block;
    /* text-wrap: nowrap; */
    color: #fff;
    text-decoration: none;
    padding: 1em;
    display: block;
    transition: .5s ease;
    background-color: var(--primary-color);
}

.dropdown-1 a:hover {
    background-color: #0e0f52;
}


.dropdown-2 {
    position: absolute;
    top: -1em;
    margin-left: 7.9em;
}

.dropdown-2 a {
    display: block;
    text-wrap: nowrap;
    padding: 1em 2em;
    transition: .5s ease;
    background-color: #07232f;
}

.dropdown-2 a:hover {
    background-color: #9aaab9;
}

.category-item:hover .dropdown-1 {
    display: block;
}
.show-dropdown-2:hover .dropdown-2 {
    display: block;
}

#hamburger {
    display: none;
}

#category-women .dropdown-1 {
    left: 4em;
}

#category-unisex .dropdown-1 {
    left: 11em;
}
.sidebar {
    display: none;
}


@media screen and (max-width:400px) {
    
    body {
        padding: 1em;
        height: auto;
    }


    .logo {
        margin: 0;
    }
    .nav-item {
        margin-right: .5em;
        display: none;
    }
    .category {
        display: none;
    }

    #hamburger {
        display: block;
        font-size: 2em;
    }
    #hamburger a {
        color: #000;
    }
    #exit {
        text-align: end;
        font-size: 2.5em;
        color: #fff;
    }

    .sidebar {
        display: block;
        background-color: var(--primary-color);
        width: 94%;
        position: absolute;
        right: 0;
        top: 0;
        height: auto;
        padding: 1em;
    }
    .sidebar-body {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .sidebar-body a {
        display: block;
        margin-bottom: 1em;
        color: #fff;
        border: 1px solid #fff;
        padding: 1em;
        border-radius: 5px;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
    }

    .main-menu {
        border-radius: 5px;
        font-weight: bold;
        background-color: #0e0f52;
    }
    .dropdown-1 {
        display: block;
        position: relative;
        width: 95%;
        padding: 0 2em;
    }
    .dropdown-2 {
        display: none;
        position: relative;
        margin: 0;
        padding: 0;
    }
}