<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/desktop.css">
    <link rel="stylesheet" href="css/mobile.css">
    <link rel="stylesheet" href="css/tablet.css">
</head>

<body>
    <header>
        <div class="logo_header">
            <h2>Belle.</h2>
        </div>
        <div class="content_header">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Category</a></li>
                <li><a href="#">Wishlist</a></li>
                <li><a href="#">Shopping bag</a></li>
                <li><a href="#">Account</a></li>
            </ul>
        </div>
    </header>
    <div class="BEM">
        <div class="content_BEM">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Category</a></li>
                <li><a href="#">Men</a></li>
            </ul>
        </div>
    </div>
    <div class="back">
        <p>back</p>
    </div>
    <section>
        <main>
            <div class="box_content">
                <img src="/img/men_shirt_1.jpg" alt="">
                    <h4></h4>
                    <p></p>
                    <div class="price_content">
                        <p><b>$785</b></p>
                    </div>
                    <p>Size : M</p>
                    <p>Color :More colors</p>
                    <div class="add_to_wish">
                        <p>Add to wish lish</p>
                    </div>
            </div>
            <div class="box_content">
                <img src="/img/men_shirt_1.jpg" alt="">
                    <h4></h4>
                    <p></p>
                    <div class="price_content">
                        <p><b>$785</b></p>
                    </div>
                    <p>Size : M</p>
                    <p>Color :More colors</p>
                    <div class="add_to_wish">
                        <p>Add to wish lish</p>
                    </div>
            </div>
            <div class="box_content">
                <img src="/img/men_shirt_1.jpg" alt="">
                    <h4></h4>
                    <p></p>
                    <div class="price_content">
                        <p><b>$785</b></p>
                    </div>
                    <p>Size : M</p>
                    <p>Color :More colors</p>
                    <div class="add_to_wish">
                        <p>Add to wish lish</p>
                    </div>
            </div>
            <div class="box_content">
                <img src="/img/men_shirt_1.jpg" alt="">
                    <h4></h4>
                    <p></p>
                    <div class="price_content">
                        <p><b>$785</b></p>
                    </div>
                    <p>Size : M</p>
                    <p>Color :More colors</p>
                    <div class="add_to_wish">
                        <p>Add to wish lish</p>
                    </div>
            </div>
            <div class="box_content">
                <img src="/img/men_shirt_1.jpg" alt="">
                    <h4></h4>
                    <p></p>
                    <div class="price_content">
                        <p><b>$785</b></p>
                    </div>
                    <p>Size : M</p>
                    <p>Color :More colors</p>
                    <div class="add_to_wish">
                        <p>Add to wish lish</p>
                    </div>
            </div>

        </main>
        <aside>
            <div class="content_total">
                <h2>Total  2  prices</h2>
                <div class="box_total">
                    <div class="box_tatol_header">
                        <div class="box_in_tatol">Discounts</div>
                        <div class="box_in_tatol">Add</div>
                    </div>
                    <div class="text_total"></div>
                    <div class="text_total"></div>
                    <div class="text_total"></div>
                    <div class="text_total"></div>
                    <div class="text_total"></div>
                </div>
            </div>
        </aside>
    </section>
</body>

</html>