@media only screen and (max-width: 426px) {
  .box_wrapper {
    display: block;
  }
  .container {
    padding: 1rem;
  }
  .box_addr_default,
  .box_addr {
    margin: 0;
    margin-top: 1rem;
    padding: 1rem;
    width: 90% !important;
  }
  .edit span {
    display: block;
  }
  .edit a {
    display: none;
  }
  .btn_link a {
    width: 90% !important;
  }
  .btn-back a {
    display: block;
    margin-top: 1em;
    padding: 0.2em 0.5em;
    border-radius: 5px;
    width: fit-content;
    color: #fff;
    background-color: #014197;
  }
  .breadcrumb {
   display: none;
  }
  .category {
    display: none;
  }
  .logo-brand {
    padding-left: 1em;
  }
  .menu {
    margin-right: 1em;
  }
  .menu-desktop {
    display: none;
  }

  #hamburger {
    display: block;
  }
  footer {
    display: block;
    text-align: center;
  }

  .Social-icon {
    justify-content: center;
  }
  .footer-menu {
    flex-direction: column;
    gap: 0;
    text-align: start;
  }
  .footer-menu-link {
    padding: 0;
    margin: 0;
  }
  .footer-menu-link li {
    padding: 0.5em 2em;
  }
  .footer-menu-link h4 {
    font-size: 1.2em;
  }
  .footer-info {
    width: 100%;
  }
  .footer-menu-link a {
    background-color: #fff;
    color: #014197;
    padding: 0.4em;
    border-radius: 5px;
  }
}
