@import url(../../../component/body/fonts.css);
@import url(../../../component/body/style.css);
@import url(../../../component/navbar/navbar.css);
@import url(../../../component/footer/footer.css);
@import url(../../../component/bread_crump/bread_crump.css);
/* responsive */
@import url(mobile.css);
@import url(tablet.css);



input, select {
   font-family: 'Text-font';
}

.container {
   padding-top: 1rem;
   position: relative;
   /* height: 100vh; */
}



 .btn-back {
   margin-left: 5%;
 }
 .btn-back a {
   text-decoration: none;
   color: #000;
   font-size: 1.3rem;
 }
 .payment {
   position: sticky;
   bottom: 0px;
 }
 .payment h2 {
   margin-top: 0;
 }
 .box_shipment {
   border: 2px solid #000;
   border-radius: 12px;
 }
 .total_wrapper {
   background-color: #fff;
   width: 30%;
   float: right;
   /* border: 2px solid #000; */
   /* padding: .5rem 1rem; */
 }

 .discount {
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   background-color: #014197;
   color: #fff;
   display: flex;
   justify-content: space-between;
   padding: 1rem;
   border-bottom: 2px solid #000;
 }
 .discount a {
   color: #fff;
   text-decoration: none;
 }
 .discount h4 {
   margin: 0;
 }

 .vat {
   margin-top: 1rem;
 }
 .discount_price {
   margin-top: .4rem;
   margin-bottom: 1rem;
 }
 .discount_price p, .vat p {
   margin: 0;
 }

 .list_item, .list_item_price, .vat, .discount_price, .total_prices {
   display: flex;
   align-items: baseline;
   justify-content: space-between;
   padding: 0 1rem;
 }
 .list_item h4, .list_item_price p, .discount_price h4, .vat h4  {
   margin: 0;
 }
 .list_item {
   margin-top: 1rem;
 }
 .list_item_price {
   margin-left: .8rem;
 }


 .stepperInput {
   /**
    * Setting display to flex makes this container lay
    * out its children using flexbox. By default, it
    * orders items horizontally, top-aligned.
    * This has a similar effect to setting the children
    * to have display: inline-block.
    */
   display: flex;
   margin-top: .5rem;
 }

   .stepperInput__input {
     border-left: 0;
     border-right: 0;
     width: 60px;
     text-align: center;
   }

 .button {
   cursor: pointer;
   padding: 5px 15px;
   color: #FFFFFF;
   background-color: #0E6EB3;
   font-size: 12px;
   border: 1px solid #000;
   border-radius: 4px;
 }

 .button--addOnLeft {
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
 }

 .button--addOnRight {
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
 }

 .input {
   /* padding: 0 10px; */
   border-radius: 0;
   border-top: 1px solid #000;
   border-bottom: 1px solid #000;
   box-shadow: none;
 }


 .btn-link a{
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   background-color: #add8e6;
   border-top: 2px solid #000;
   color: #000;
   text-decoration: none;
   padding: 1rem;
   display: block;
   text-align: center;
 }

 .card_wrapper {
   display: flex;
   width: 60%;
   margin-bottom: 2rem;

 }
 .card_img {
   width: 40%;
 }
 .card_img img {
   border-radius: 12px;
   width: 100%;
 }

 .card_info {
   margin-left: 2rem;
   width: 60%;
 }
 .card_info p {
   font-size: 1rem;
 }
 .color, .size,.quantity {
   margin-top: .5rem;
 }
 .color, .size, .quantity {
   display: flex;
   align-items: baseline;
   justify-content: space-between;
 }
 .quantity {
   margin-top: 2rem;
   justify-content: start;
   gap: 1rem;
 }

 .color select, .size select{
   width: 85%;
   appearance:none;
   padding: .5rem;
   box-sizing: border-box;
   border-radius: 12px;
   margin-top: .5rem
 }


 .prices {
   /* width: 50%; */
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1rem;
}
.price {
   display: flex;
   gap: 1rem;

}
.sales{
   padding: 0 .5rem;
   background-color: #0e6eb3;
   border-radius: 12px;
   color: #fff;
}

.before_sale {
   text-decoration: line-through;
}

.after_sale {
   color: #0e6eb3;
   font-weight: bold;
}
.remove {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.remove h2 {
   font-size: 2rem;
   margin: 0;
   /* font-family: 'Heading-font'; */
}
.remove h2, a {
   margin-top: 0;
}
.remove a {
   text-decoration: none;
   color: #0E6EB3;
}
.remove span {
   /* font-size: 2rem; */
   margin-bottom: .2rem;
   vertical-align: middle;
}
