@import url(../../../component/body/fonts.css);
@import url(../../../component/body/style.css);
@import url(../../../component/navbar/navbar.css);
@import url(../../../component/footer/footer.css);

/* responsive */
@import url(mobile.css);
@import url(tablet.css);

.login_form_body {
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
  float: left;
  width: 35%;
  background-color: #fff;
}

.login_form_body h1 {
  font-family: "Heading-font";
}

.login-form p {
  font-family: "Text-font";
}

label {
  display: inline-block;
  margin-top: 1rem;
}
input {
  font-family: "Text-font";
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 5px;
  margin-top: 0.4rem;
  box-sizing: border-box;
}
input[type="checkbox"] {
  width: auto;
}
input[type="submit"] {
  font-weight: bold;
  margin-top: 2rem;
  background-color: lightblue;

  font-size: 1.5rem;
  border-radius: 12px;
  border: 2px solid #000;
  cursor: pointer;
}
input:focus {
  border-color: lightblue;
  outline: 2px solid lightblue;
}

.bg_fill {
  float: right;
  width: 40%;
  height: 100vh;
}

.bg_fill img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: 0 5%;
}

.login_link {
  margin-top: 4rem;
  text-align: center;
}

.login_link span {
  border-radius: 12px;
}
.login_link a {
  color: #000;
  text-decoration: none;
}

.password {
  position: relative;
}

.password span {
  display: none;
  position: absolute;
  cursor: pointer;
  bottom: 9px;
  right: 9px;
  font-size: 1rem;
}

#remember_in {
  outline: none;
}

.other_login {
  text-align: center;
  margin-top: 2rem;
}

.social_logo {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.social_logo img {
  width: 35px;
}
