<footer>

   <div class="footer-info">
      <div class="footer-head">
         <h2>Belle</h2>
         <p>Always Beautiful</p>
      </div>
      <div class="Social-icon">
         <img src="/img/icon/Facebook.svg" alt="">
         <img src="/img/icon/Google.svg" alt="">
         <img src="/img/icon/Gmail.svg" alt="">
         <img src="/img/icon/Instagram.svg" alt="">
         <img src="/img/icon/TikTok.svg" alt="">
      </div>
      <div class="copyright">
         <h4>© 2024 Belle.com All Rights Reserved.</h4>
         <p>All content, including images, text, and designs, is the property of Belle.com and may not be reproduced or distributed without permission.</p>
      </div>
   </div>

   <div class="footer-menu">
      <ul class="footer-menu-link">
         <li><h4>Category</h4></li>
         <li>Women</li>
         <li>Men</li>
         <li>Unisex</li>
         <li>Shoes</li>
         <li>Accessories</li>
      </ul>
      <ul class="footer-menu-link">
         <li><h4>Account</h4></li>
         <li>Setting</li>
         <li>Order Tracking</li>
         <li>Return</li>
      </ul>
      <ul class="footer-menu-link">
         <li><h4>News & Promotion</h4></li>
         <li>New Collection 2024</li>
         <li>Best Selling 2024</li>
         <li>News</li>
      </ul>
      <ul class="footer-menu-link">
         <li><h4>Help Center</h4></li>
         <li>FAQ+</li>
         <li>Live Chat</li>
         <li>Contact Us</li>
      </ul>
   </div>
</footer>
