@font-face {
   font-family: "--text";
   src: url(../../asset/fonts/general/GeneralSans-Regular.otf);
 }
 @font-face {
   font-family: "--head";
   src: url(../../asset/fonts/general/GeneralSans-Semibold.otf);
 }
 @font-face {
   font-family: "--italic";
   src: url(../../asset/fonts/general/GeneralSans-Italic.otf);
 }

