<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/desktop.css">
    <link rel="stylesheet" href="css/tablet.css">
    <link rel="stylesheet" href="css/mobile.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <section>
        <h1>Wish</h1>
        <div class="main">
            <div class="box_content">
                <div class="box_image_main">
                    <img class="image_main" src="../../img/m10.jpg" alt="">
                    <i class="bi bi-heart wishlist-icon"></i>
                </div>
                <div class="text_main">
                    <div class="header_box_main">
                        <div class="header_name_main">
                            <h3>GUCCI</h3>
                            <p>Cashmere crewneck sweater</p>
                        </div>
                    </div>
                    <div class="price_content">
                        <div class="price_1_content">
                            <p><b><del>$320</del></b></p>
                        </div>
                        <p><b>$899</b></p>
                    </div>
                    <div class="size-options">
                        <label>Size:</label>
                        <p><b>L</b></p>
                    </div>
                    <div class="color-options">
                        <label>Color:</label>
                        <p><b>Beige</b></p>
                    </div>
                    <div class="header_delete_main">
                        <i class="bi bi-trash3"></i>Remove from Wishlist
                    </div>
                    <div class="btn_addtobag">
                        <a href="#">Add to bag</a>
                    </div>
                </div>
            </div>

            <div class="box_content">
                <div class="box_image_main">
                    <img class="image_main" src="../../img/m16.jpg" alt="">
                    <i class="bi bi-heart wishlist-icon"></i>
                </div>
                <div class="text_main">
                    <div class="header_box_main">
                        <div class="header_name_main">
                            <h3>PRADA</h3>
                            <p>Wool turtleneck sweater</p>
                        </div>
                    </div>
                    <div class="price_content">
                        <div class="price_1_content">
                            <p><b><del>$450</del></b></p>
                        </div>
                        <p><b>$950</b></p>
                    </div>
                    <div class="size-options">
                        <label>Size:</label>
                        <p><b>M</b></p>
                    </div>
                    <div class="color-options">
                        <label>Color:</label>
                        <p><b>Navy</b></p>
                    </div>
                    <div class="header_delete_main">
                        <i class="bi bi-trash3"></i>Remove from Wishlist
                    </div>
                    <div class="btn_addtobag">
                        <a href="#">Add to bag</a>
                    </div>
                </div>
            </div>

            <div class="box_content">
                <div class="box_image_main">
                    <img class="image_main" src="../../img/m19.jpg" alt="">
                    <i class="bi bi-heart wishlist-icon"></i>
                </div>
                <div class="text_main">
                    <div class="header_box_main">
                        <div class="header_name_main">
                            <h3>BURBERRY</h3>
                            <p>Cotton blend cardigan</p>
                        </div>
                    </div>
                    <div class="price_content">
                        <div class="price_1_content">
                            <p><b><del>$500</del></b></p>
                        </div>
                        <p><b>$1050</b></p>
                    </div>
                    <div class="size-options">
                        <label>Size:</label>
                        <p><b>S</b></p>
                    </div>
                    <div class="color-options">
                        <label>Color:</label>
                        <p><b>Grey</b></p>
                    </div>
                    <div class="header_delete_main">
                        <i class="bi bi-trash3"></i>Remove from Wishlist
                    </div>
                    <div class="btn_addtobag">
                        <a href="#">Add to bag</a>
                    </div>
                </div>
            </div>

            <div class="box_content">
                <div class="box_image_main">
                    <img class="image_main" src="../../img/m7.jpg" alt="">
                    <i class="bi bi-heart wishlist-icon"></i>
                </div>
                <div class="text_main">
                    <div class="header_box_main">
                        <div class="header_name_main">
                            <h3>LOUIS VUITTON</h3>
                            <p>Silk bomber jacket</p>
                        </div>
                    </div>
                    <div class="price_content">
                        <div class="price_1_content">
                            <p><b><del>$1200</del></b></p>
                        </div>
                        <p><b>$2100</b></p>
                    </div>
                    <div class="size-options">
                        <label>Size:</label>
                        <p><b>XL</b></p>
                    </div>
                    <div class="color-options">
                        <label>Color:</label>
                        <p><b>Black</b></p>
                    </div>
                    <div class="header_delete_main">
                        <i class="bi bi-trash3"></i>Remove from Wishlist
                    </div>
                    <div class="btn_addtobag">
                        <a href="#">Add to bag</a>
                    </div>
                </div>
            </div>

            <div class="box_content">
                <div class="box_image_main">
                    <img class="image_main" src="../../img/m13.jpg" alt="">
                    <i class="bi bi-heart wishlist-icon"></i>
                </div>
                <div class="text_main">
                    <div class="header_box_main">
                        <div class="header_name_main">
                            <h3>HERMÈS</h3>
                            <p>Leather trench coat</p>
                        </div>
                    </div>
                    <div class="price_content">
                        <div class="price_1_content">
                            <p><b><del>$3500</del></b></p>
                        </div>
                        <p><b>$5500</b></p>
                    </div>
                    <div class="size-options">
                        <label>Size:</label>
                        <p><b>L</b></p>
                    </div>
                    <div class="color-options">
                        <label>Color:</label>
                        <p><b>Brown</b></p>
                    </div>
                    <div class="header_delete_main">
                        <i class="bi bi-trash3"></i>Remove from Wishlist
                    </div>
                    <div class="btn_addtobag">
                        <a href="#">Add to bag</a>
                    </div>
                </div>
            </div>

            <div class="box_content">
                <div class="box_image_main">
                    <img class="image_main" src="../../img/m9.jpg" alt="">
                    <i class="bi bi-heart wishlist-icon"></i>
                </div>
                <div class="text_main">
                    <div class="header_box_main">
                        <div class="header_name_main">
                            <h3>SAINT LAURENT</h3>
                            <p>Striped wool sweater</p>
                        </div>
                    </div>
                    <div class="price_content">
                        <div class="price_1_content">
                            <p><b><del>$950</del></b></p>
                        </div>
                        <p><b>$1750</b></p>
                    </div>
                    <div class="size-options">
                        <label>Size:</label>
                        <p><b>M</b></p>
                    </div>
                    <div class="color-options">
                        <label>Color:</label>
                        <p><b>Red</b></p>
                    </div>
                    <div class="header_delete_main">
                        <i class="bi bi-trash3"></i>Remove from Wishlist
                    </div>
                    <div class="btn_addtobag">
                        <a href="#">Add to bag</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
