<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/desktop.css">
    <link rel="stylesheet" href="css/tablet.css">
    <link rel="stylesheet" href="css/mobile.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <section>
        <h1>Wish</h1>
        <div class="main">
            <div class="box_content">
                <div class="box_image_main">
                    <img class="image_main" src="/img/men_shirt_1.jpg" alt="">
                    <i class="bi bi-heart wishlist-icon"></i> <!-- เพิ่ม class "wishlist-icon" เพื่อปรับขนาดไอคอน -->
                </div>
                
                <div class="text_main">
                    <div class="header_box_main">
                        <div class="header_name_main">
                            <h2>DRIES VAN NOTEN</h2>
                            <p>Ribbed merino wool sweater</p>
                        </div>
                    </div>
                    <div class="price_content">
                        <div class="price_1_content">
                            <p><b><del>$285</del></b></p>
                        </div>
                        <div class="price_1_content"></div>
                        <p><b>$785</b></p>
                    </div>
                    <div class="size-options">
                        <label>Size:</label>
                        <p><b>M</b></p>
                    </div>
                    <div class="color-options">
                        <label>Color:</label>
                        <p><b>More colors</b></p>
                    </div>
                    <div class="header_delete_main">
                        <i class="bi bi-trash3"></i>Remove form Wishlist
                    </div>
                    <div class="btn_addtobag">
                        <a href="#">Add to bag</a>
                    </div>
                </div>
            </div>
            <div class="box_content">
                <div class="box_image_main">
                    <img class="image_main" src="/img/men_shirt_1.jpg" alt="">
                    <i class="bi bi-heart wishlist-icon"></i> <!-- เพิ่ม class "wishlist-icon" เพื่อปรับขนาดไอคอน -->
                </div>
                
                <div class="text_main">
                    <div class="header_box_main">
                        <div class="header_name_main">
                            <h2>DRIES VAN NOTEN</h2>
                            <p>Ribbed merino wool sweater</p>
                        </div>
                    </div>
                    <div class="price_content">
                        <div class="price_1_content">
                            <p><b><del>$285</del></b></p>
                        </div>
                        <div class="price_1_content"></div>
                        <p><b>$785</b></p>
                    </div>
                    <div class="size-options">
                        <label>Size:</label>
                        <p><b>M</b></p>
                    </div>
                    <div class="color-options">
                        <label>Color:</label>
                        <p><b>More colors</b></p>
                    </div>
                    <div class="header_delete_main">
                        <i class="bi bi-trash3"></i>Remove form Wishlist
                    </div>
                    <div class="btn_addtobag">
                        <a href="#">Add to bag</a>
                    </div>
                </div>
            </div>
            <div class="box_content">
                <div class="box_image_main">
                    <img class="image_main" src="/img/men_shirt_1.jpg" alt="">
                    <i class="bi bi-heart wishlist-icon"></i> <!-- เพิ่ม class "wishlist-icon" เพื่อปรับขนาดไอคอน -->
                </div>
                
                <div class="text_main">
                    <div class="header_box_main">
                        <div class="header_name_main">
                            <h2>DRIES VAN NOTEN</h2>
                            <p>Ribbed merino wool sweater</p>
                        </div>
                    </div>
                    <div class="price_content">
                        <div class="price_1_content">
                            <p><b><del>$285</del></b></p>
                        </div>
                        <div class="price_1_content"></div>
                        <p><b>$785</b></p>
                    </div>
                    <div class="size-options">
                        <label>Size:</label>
                        <p><b>M</b></p>
                    </div>
                    <div class="color-options">
                        <label>Color:</label>
                        <p><b>More colors</b></p>
                    </div>
                    <div class="header_delete_main">
                        <i class="bi bi-trash3"></i>Remove form Wishlist
                    </div>
                    <div class="btn_addtobag">
                        <a href="#">Add to bag</a>
                    </div>
                </div>
            </div>
            <div class="box_content">
                <div class="box_image_main">
                    <img class="image_main" src="/img/men_shirt_1.jpg" alt="">
                    <i class="bi bi-heart wishlist-icon"></i> <!-- เพิ่ม class "wishlist-icon" เพื่อปรับขนาดไอคอน -->
                </div>
                
                <div class="text_main">
                    <div class="header_box_main">
                        <div class="header_name_main">
                            <h2>DRIES VAN NOTEN</h2>
                            <p>Ribbed merino wool sweater</p>
                        </div>
                    </div>
                    <div class="price_content">
                        <div class="price_1_content">
                            <p><b><del>$285</del></b></p>
                        </div>
                        <div class="price_1_content"></div>
                        <p><b>$785</b></p>
                    </div>
                    <div class="size-options">
                        <label>Size:</label>
                        <p><b>M</b></p>
                    </div>
                    <div class="color-options">
                        <label>Color:</label>
                        <p><b>More colors</b></p>
                    </div>
                    <div class="header_delete_main">
                        <i class="bi bi-trash3"></i>Remove form Wishlist
                    </div>
                    <div class="btn_addtobag">
                        <a href="#">Add to bag</a>
                    </div>
                </div>
            </div>
            <div class="box_content">
                <div class="box_image_main">
                    <img class="image_main" src="/img/men_shirt_1.jpg" alt="">
                    <i class="bi bi-heart wishlist-icon"></i> <!-- เพิ่ม class "wishlist-icon" เพื่อปรับขนาดไอคอน -->
                </div>
                
                <div class="text_main">
                    <div class="header_box_main">
                        <div class="header_name_main">
                            <h2>DRIES VAN NOTEN</h2>
                            <p>Ribbed merino wool sweater</p>
                        </div>
                    </div>
                    <div class="price_content">
                        <div class="price_1_content">
                            <p><b><del>$285</del></b></p>
                        </div>
                        <div class="price_1_content"></div>
                        <p><b>$785</b></p>
                    </div>
                    <div class="size-options">
                        <label >Size:</label>
                        <p><b>M</b></p>
                    </div>
                    <div class="color-options">
                        <label >Color:</label>
                        <p><b>More colors</b></p>
                    </div>
                    <div class="header_delete_main">
                        <i class="bi bi-trash3"></i>Remove form Wishlist
                    </div>
                    <div class="btn_addtobag">
                        <a href="#">Add to bag</a>
                    </div>
                </div>
            </div>
            <div class="box_content">
                <div class="box_image_main">
                    <img class="image_main" src="/img/men_shirt_1.jpg" alt="">
                    <i class="bi bi-heart wishlist-icon"></i> <!-- เพิ่ม class "wishlist-icon" เพื่อปรับขนาดไอคอน -->
                </div>
                
                <div class="text_main">
                    <div class="header_box_main">
                        <div class="header_name_main">
                            <h2>DRIES VAN NOTEN</h2>
                            <p>Ribbed merino wool sweater</p>
                        </div>
                    </div>
                    <div class="price_content">
                        <div class="price_1_content">
                            <p><b><del>$285</del></b></p>
                        </div>
                        <div class="price_1_content"></div>
                        <p><b>$785</b></p>
                    </div>
                    <div class="size-options">
                        <label>Size:</label>
                        <p><b>M</b></p>
                    </div>
                    <div class="color-options">
                        <label>Color:</label>
                        <p><b>More colors</b></p>
                    </div>
                    <div class="header_delete_main">
                        <i class="bi bi-trash3"></i>Remove form Wishlist
                    </div>
                    <div class="btn_addtobag">
                        <a href="#">Add to bag</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>