@media only screen and (max-width: 426px) {

  .container {
    padding: 1rem;
  }

  .category {
    display: none;
  }
  .logo-brand {
    padding-left: 1em;
  }
  .menu {
    margin-right: 1em;
  }
  .menu-desktop {
    display: none;
  }
  
  
  #hamburger {
    display: block;
  }

  .second_navbar {
    display: none;
  }
  .heading {
    flex-direction: column;
  }
  .heading_text {
    text-align: start;
    display: block;
    width: 100%;
  }
  .heading_text h1 {
    font-size: 4rem;
  }
  .card-container {
    flex-direction: column-reverse;
  }
  .adv_wrapper {
    flex-direction: column;
  }
  .img_head {
    width: 100%;
  }
  .img_head h2 {
    top: 60%;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
  }
  .img_head a {
    display: block;
    /* width: 25%; */
    top: 80%;
    /* padding: 0.5rem 5rem; */
  }
  .card {
    width: 100%;
  }

  .vid_adv {
    width: 100%;
  }
  .adv_text {
    width: 100%;
  }
  .adv_text h2 {
    font-size: 2rem;
    text-align: center;
    white-space: nowrap;
  }
  .adv_img {
    /* flex-direction: column; */
    overflow: scroll;
    width: 100%;
  }
  .adv_img img {
    width: 100%;
  }
  .btn-shop {
    display: block;
    width: auto;
    transform: rotate(0);
    position: relative;
    left: 0;
    text-align: center;
    display: block;
    border-radius: 0;
    margin-bottom: 2rem;
  }
  .image_container img {
    width: 100%;
  }
  .image_container img:nth-child(n + 2) {
    display: none;
  }
  .box1 {
    margin: 0;
    width: 100%;
  }
  .paragraph {
    display: block;
  }
  .text_section {
    display: block;
    width: 100%;
  }
  .img_text_intro {
    width: 100%;
  }
  .text_intro {
    width: 100%;
  }
  .paragraph p, .box1 p {
    text-align: start;
    text-indent: 1rem;
  }

  footer {
    display: block;
    text-align: center;
  }

  .Social-icon {
    justify-content: center;
  }
  .footer-menu {
    flex-direction: column;
    gap: 0;
    text-align: start;
  }
  .footer-menu-link {
    padding: 0;
    margin: 0;
  }
  .footer-menu-link li {
    padding: .5em 2em;
  }
  .footer-menu-link h4 {
    font-size: 1.2em;
  }
  .footer-info {
    width: 100%;
  }
  .footer-menu-link a {
    background-color: #fff;
    color: #014197;
    padding: .4em;
    border-radius: 5px;
  }

  .paragraph {
    margin-bottom: 2em;
  }
}
