<nav>
   <div class="logo-brand">
      <a href=""><h2>Belle</h2></a>
   </div>
   <ul class="dropdown-1">
      <li><a href="">Home</a></li>
      <li><a href="">Category</a>

         <ul class="dropdown-2">
            <li><a href="">Women</a>

               <ul class="dropdown-3">
                  <li><a href="">Show All</a></li>
                  <li><a href="">Tops</a></li>
                  <li><a href="">Coats</a></li>
                  <li><a href="">Dress</a></li>
                  <li><a href="">Jeans</a></li>
               </ul></li>
            <li><a href="">Men</a>
               <ul class="dropdown-3" id="men-menu">
                  <li><a href="">Show All</a></li>
                  <li><a href="">Tops</a></li>
                  <li><a href="">Coats</a></li>
                  <li><a href="">Dress</a></li>
                  <li><a href="">Jeans</a></li>
               </ul></li>
            <li><a href="">Unisex</a>
               <ul class="dropdown-3" id="unisex-menu">
                  <li><a href="">Show All</a></li>
                  <li><a href="">Tops</a></li>
                  <li><a href="">Coats</a></li>
                  <li><a href="">Dress</a></li>
                  <li><a href="">Jeans</a></li>
               </ul></li>
            <li><a href="">Shoes</a>
               <ul class="dropdown-3" id="shoes-menu">
                  <li><a href="">Show All</a></li>
                  <li><a href="">Tops</a></li>
                  <li><a href="">Coats</a></li>
                  <li><a href="">Dress</a></li>
                  <li><a href="">Jeans</a></li>
               </ul></li>
            <li><a href="">Accessories</a>
               <ul class="dropdown-3" id="acc-menu">
                  <li><a href="">Show All</a></li>
                  <li><a href="">Tops</a></li>
                  <li><a href="">Coats</a></li>
                  <li><a href="">Dress</a></li>
                  <li><a href="">Jeans</a></li>
               </ul></li>
         </ul></li>
      <li><a href="">Shopping bags</a></li>
      <li><a href="">Wishlist</a></li>
      <li><a href="">Account</a></li>
   </ul>
</nav>
