<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/desktop.css">
    <link rel="stylesheet" href="css/tablet.css">
    <link rel="stylesheet" href="css/mobile.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <h1>Choose the items you'd like to return</h1>
    <section>   
        <div class="main">
            <div class="box_content">
                <div class="check_box">
                    <input type="checkbox">
                </div>
                <div class="box_image_main">
                    <img class="image_main" src="/img/m14.jpg" alt="">
                </div>
                <div class="text_main">
                    <div class="header_box_main">
                        <div class="header_name_main">
                            <h2>DRIES VAN NOTEN</h2>
                            <p>Ribbed merino wool sweater</p>
                        </div>
                    </div>
                    <div class="price_content">
                        <div class="price_1_content">
                            <p><b><del>$285</del></b></p>
                        </div>
                        <div class="price_1_content"></div>
                        <p><b>$785</b></p>
                    </div>
                    <div class="size-options">
                        <label >Size :</label>
                        <p> S</p>
                    </div>
                    <div class="color-options">
                        <label>Color :</label>
                        <p> White</p>
                    </div>
                    <div class="Reason-for-Return">
                        <select id="reason-select1" name="reason">
                            <option value="">Select a Reason for Return*</option>
                            <option value="wrong_item">Wrong Item</option>
                            <option value="defective">Defective Item</option>
                            <option value="not_satisfied">Not Satisfied</option>
                            <option value="other">Other Reason</option>
                        </select>                        
                    </div>
                </div>
                
            </div>
            <div class="box_content">
                <div class="check_box">
                    <input type="checkbox">
                </div>
                <div class="box_image_main">
                    <img class="image_main" src="/img/m15.jpg" alt="">
                </div>
                <div class="text_main">
                    <div class="header_box_main">
                        <div class="header_name_main">
                            <h2>DRIES VAN NOTEN</h2>
                            <p>Ribbed merino wool sweater</p>
                        </div>
                    </div>
                    <div class="price_content">
                        <div class="price_1_content">
                            <p><b><del>$285</del></b></p>
                        </div>
                        <div class="price_1_content"></div>
                        <p><b>$785</b></p>
                    </div>
                    <div class="size-options">
                        <label >Size :</label>
                        <p> S</p>
                    </div>
                    <div class="color-options">
                        <label>Color :</label>
                        <p> White</p>
                    </div>
                    <div class="Reason-for-Return">
                        <select id="reason-select2" name="reason">
                            <option value="">Select a Reason for Return*</option>
                            <option value="wrong_item">Wrong Item</option>
                            <option value="defective">Defective Item</option>
                            <option value="not_satisfied">Not Satisfied</option>
                            <option value="other">Other Reason</option>
                        </select>                        
                    </div>
                </div>
            </div>
            <div class="box_content">
                <div class="check_box">
                    <input type="checkbox">
                </div>
                <div class="box_image_main">
                    <img class="image_main" src="/img/m17.jpg" alt="">
                </div>
                <div class="text_main">
                    <div class="header_box_main">
                        <div class="header_name_main">
                            <h2>DRIES VAN NOTEN</h2>
                            <p>Ribbed merino wool sweater</p>
                        </div>
                    </div>
                    <div class="price_content">
                        <div class="price_1_content">
                            <p><b><del>$285</del></b></p>
                        </div>
                        <div class="price_1_content"></div>
                        <p><b>$785</b></p>
                    </div>
                    <div class="size-options">
                        <label >Size :</label>
                        <p> S</p>
                    </div>
                    <div class="color-options">
                        <label>Color :</label>
                        <p> White</p>
                    </div>
                    <div class="Reason-for-Return">
                        <select id="reason-select3" name="reason">
                            <option value="">Select a Reason for Return*</option>
                            <option value="wrong_item">Wrong Item</option>
                            <option value="defective">Defective Item</option>
                            <option value="not_satisfied">Not Satisfied</option>
                            <option value="other">Other Reason</option>
                        </select>                        
                    </div>
                </div>
            </div>
            <div class="box_content">
                <div class="check_box">
                    <input type="checkbox">
                </div>
                <div class="box_image_main">
                    <img class="image_main" src="/img/m18.jpg" alt="">
                </div>
                <div class="text_main">
                    <div class="header_box_main">
                        <div class="header_name_main">
                            <h2>DRIES VAN NOTEN</h2>
                            <p>Ribbed merino wool sweater</p>
                        </div>
                    </div>
                    <div class="price_content">
                        <div class="price_1_content">
                            <p><b><del>$285</del></b></p>
                        </div>
                        <div class="price_1_content"></div>
                        <p><b>$785</b></p>
                    </div>
                    <div class="size-options">
                        <label >Size :</label>
                        <p> S</p>
                    </div>
                    <div class="color-options">
                        <label>Color :</label>
                        <p> White</p>
                    </div>
                    <div class="Reason-for-Return">
                        <select id="reason-select4" name="reason">
                            <option value="">Select a Reason for Return*</option>
                            <option value="wrong_item">Wrong Item</option>
                            <option value="defective">Defective Item</option>
                            <option value="not_satisfied">Not Satisfied</option>
                            <option value="other">Other Reason</option>
                        </select>                        
                    </div>
                </div>
            </div>
            <div class="box_content">
                <div class="check_box">
                    <input type="checkbox">
                </div>
                <div class="box_image_main">
                    <img class="image_main" src="/img/m19.jpg" alt="">
                </div>
                <div class="text_main">
                    <div class="header_box_main">
                        <div class="header_name_main">
                            <h2>DRIES VAN NOTEN</h2>
                            <p>Ribbed merino wool sweater</p>
                        </div>
                    </div>
                    <div class="price_content">
                        <div class="price_1_content">
                            <p><b><del>$285</del></b></p>
                        </div>
                        <div class="price_1_content"></div>
                        <p><b>$785</b></p>
                    </div>
                    <div class="size-options">
                        <label >Size :</label>
                        <p> S</p>
                    </div>
                    <div class="color-options">
                        <label>Color :</label>
                        <p> White</p>
                    </div>
                    <div class="Reason-for-Return">
                        <select id="reason-select5" name="reason">
                            <option value="">Select a Reason for Return*</option>
                            <option value="wrong_item">Wrong Item</option>
                            <option value="defective">Defective Item</option>
                            <option value="not_satisfied">Not Satisfied</option>
                            <option value="other">Other Reason</option>
                        </select>                        
                    </div>
                </div>
            </div>
        </div>
        <aside>
            <h2>Select return method</h2>
            <br>
            <hr>
            <br>
            <h3>
                Select how you want to return
            </h3>
            <div class="return_detail">
                <div class="return_detail">
                    <div class="box_return" id="box_return_1">
                        <h3>Fastest</h3>
                        <div class="radio_return">
                            <div class="box_radio_return">
                                <input type="radio" name="return_option" onclick="changeColor(this)">
                            </div>
                            <div class="p_1">
                                <p class="p_111">In store</p>
                                <p>Go to our store to process your return the same day</p>
                            </div>
                        </div>
                    </div>
                    <div class="box_return" id="box_return_2">
                        <h3>Processed in 7 days</h3>
                        <div class="radio_return">
                            <div class="box_radio_return">
                                <input type="radio" name="return_option" onclick="changeColor(this)">
                            </div>
                            <div class="p_1">
                                <p class="p_111">By post</p>
                                <p>Package and drop off your return at Evri or Royal Mail</p>
                            </div>
                        </div>
                    </div>
                    <div class="box_return" id="box_return_3">
                        <h3>Processed in 7 days</h3>
                        <div class="radio_return">
                            <div class="box_radio_return">
                                <input type="radio" name="return_option" onclick="changeColor(this)">
                            </div>
                            <div class="p_1">
                                <p class="p_111">Home collection</p>
                                <p>Organise a pick up at your Location

                                    (You'll need a printer)</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <h2>Select type of Belle store</h2>
            <div class="return_detail_2">

                <div class="box_return_2" id="box_return2_1">
                    <h3>Fastest</h3>
                    <div class="radio_return">
                        <div class="box_radio_return">
                            <input type="radio" name="return_option_2" onclick="changeColor2(this)">
                        </div>
                        <div class="p_1">
                            <p class="p_111">Clothing and Homeware</p>
                        </div>
                    </div>
                </div>
                <div class="box_return_2" id="box_return2_2">

                    <h3>Processed in 7 days</h3>
                    <div class="radio_return">
                        <div class="box_radio_return">
                            <input type="radio" name="return_option_2" onclick="changeColor2(this)">
                        </div>
                        <div class="p_1">
                            <p class="p_111">Foodhall and Outlets</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="content_total">
                <h2>Total 2 price</h2>
                <div class="box_total">
                    <div class="box_tatol_header">
                        <div class="box_in_tatol">Summary</div>

                    </div>

                    <div class="box_text_total">
                        <h3>Select Return Method</h3>
                        <div class="selected_return_methods">
                            <!-- รายการที่เลือกสำหรับวิธีการคืน -->
                        </div>
                        <h3>Select Type of Belle Store</h3>
                        <div class="selected_belle_store_types">
                            <!-- รายการที่เลือกสำหรับประเภทของ Belle store -->
                        </div>
                        <div class="text_total">
                            <p>List of product</p>
                            <p>2 price</p>
                        </div>
                        <div class="in_text_total">
                            <div class="text_total">
                                <p> 1.dries van noten</p>
                                <p>$128.00</p>
                            </div>
                            <div class="text_total">
                                <p>2.dries vannoten</p>
                                <p>$248.00</p>
                            </div>
                        </div>

                        <div class="divider"></div>
                        <div class="text_total">
                            <h3>Refund Total</h3>
                            <p>$456</p>
                        </div>

                    </div>
                    <div class="btn_continue_checkout">
                        <a>Proceed to Confirmation</a>
                    </div>
                </div>
            </div>
        </aside>
    </section>
    <script>

        function changeColor(selectedRadio) {
            // ลบคลาส 'selected' จากทุกกล่อง
            const boxes = document.querySelectorAll('.box_return');
            boxes.forEach(box => {
                box.classList.remove('selected');
            });

            // เพิ่มคลาส 'selected' ให้กับกล่องที่เลือก
            const parentBox = selectedRadio.closest('.box_return');
            parentBox.classList.add('selected');
        }

        function changeColor2(selectedRadio) {
            // ลบคลาส 'selected' จากทุกกล่อง
            const boxes = document.querySelectorAll('.box_return_2');
            boxes.forEach(box => {
                box.classList.remove('selected');
            });

            // เพิ่มคลาส 'selected' ให้กับกล่องที่เลือก
            const parentBox = selectedRadio.closest('.box_return_2');
            parentBox.classList.add('selected');
        }

        function changeColor(selectedRadio) {
            // ลบคลาส 'selected' จากทุกกล่อง
            const boxes = document.querySelectorAll('.box_return');
            boxes.forEach(box => {
                box.classList.remove('selected');
            });

            // เพิ่มคลาส 'selected' ให้กับกล่องที่เลือก
            const parentBox = selectedRadio.closest('.box_return');
            parentBox.classList.add('selected');

            // อัปเดตข้อมูลใน content_total
            updateSelectedItems();
        }

        function changeColor2(selectedRadio) {
            // ลบคลาส 'selected' จากทุกกล่อง
            const boxes = document.querySelectorAll('.box_return_2');
            boxes.forEach(box => {
                box.classList.remove('selected');
            });

            // เพิ่มคลาส 'selected' ให้กับกล่องที่เลือก
            const parentBox = selectedRadio.closest('.box_return_2');
            parentBox.classList.add('selected');

            // อัปเดตข้อมูลใน content_total
            updateSelectedItems();
        }

        function updateSelectedItems() {
            const returnMethodsContainer = document.querySelector('.selected_return_methods');
            const belleStoreTypesContainer = document.querySelector('.selected_belle_store_types');
            returnMethodsContainer.innerHTML = ''; // ล้างข้อมูลเก่า
            belleStoreTypesContainer.innerHTML = ''; // ล้างข้อมูลเก่า

            const returnDetails = document.querySelectorAll('.box_return.selected');
            const returnDetails2 = document.querySelectorAll('.box_return_2.selected');

            let totalPrice = 0; // ตัวแปรสำหรับเก็บราคาสุทธิ

            returnDetails.forEach(box => {
                const name = box.querySelector('h3').textContent; // ดึงชื่อ
                returnMethodsContainer.innerHTML += `<p>${name}</p>`;
                totalPrice += 128; // เพิ่มราคาสินค้า (ปรับตามราคาสินค้า)
            });

            returnDetails2.forEach(box => {
                const name = box.querySelector('h3').textContent; // ดึงชื่อ
                belleStoreTypesContainer.innerHTML += `<p>${name}</p>`;
                totalPrice += 248; // เพิ่มราคาสินค้า (ปรับตามราคาสินค้า)
            });

            // อัปเดตราคาใน total_price
            document.getElementById('total_price').textContent = `$${totalPrice.toFixed(2)}`;
        }




    </script>
</body>

</html>