<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/desktop.css">
    <link rel="stylesheet" href="css/tablet.css">
    <link rel="stylesheet" href="css/mobile.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <section>
        <div class="image_section">
            <img src="/img/m1.jpg" alt="">
        </div>
        <div class="main_content_1">
            <img class="img_container" src="/img/men_shirt_1.jpg" alt="">
            <div class="text_main_content">
                <div class="text_float">
                    <h2>“I’</h2>
                </div>
                <div class="box_text_right">
                    <p>“I’m not usually this dressed-up,” Rosie Huntington-Whiteley promises with distinctly British
                        self-depreciatory charm, as the door to her Chelsea pied-à-terre swings open. Gold pendants dangle
                        above a Hermès tank top and a Wardrobe.NYC drill skirt. Heels, of course (and upstairs, a miniature
                        taupe-colored ‘Kelly’ bag is resting on a white bouclé sofa). Not a hair is out of place. She could
                        easily be about to do an Architectural Digest home tour of the wedding-cake house, which is as
                        beautifully dressed as she is, designed by Rose Uniacke and filled with esoteric pieces.
    
                        She’s quick to point out that she has been on duty at a press day, talking editors through her
                        latest high-street underwear line. Her kids, meanwhile, are almost back at school. She’s spent a
                        couple of weeks on vacation, but has upcoming work trips to the Middle East, fashion-week shows to
                        attend, a new career pivot as an angel investor, and the launch of a collection she’s designed for
                        Wardrobe.NYC, a brand she says she wears most days – and that we’re here to discuss. So, a
                        standardly whirlwind time for the supermodel-turned-entrepreneur.
    
                        Getting to know Huntington-Whiteley is interesting because there’s far more to her than meets the
                        eye. As a supermodel, that’s probably the story of her life. But the lacquered image of perfection
                        belies a far more fascinating story of a woman who has worked hard to gain autonomy in a world that
                        is keen to pigeonhole her as the ultimate pin-up. Underestimate her at your own peril seems to be
                        the underlying narrative.</p>
                        <div class="buy_product_1">
                            <div class="box_product" id="box_product1">
                                <img src="" alt="">
                                <h3>12313</h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, suscipit.</p>
                                <a href="#">go</a>
                            </div>
                            <div class="box_product" id="box_product2">
                                <img src="" alt="">
                                <h3>12313</h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, suscipit.</p>
                                <a href="#">go</a>
                            </div>
                            <div class="box_product" id="box_product3">
                                <img src="" alt="">
                                <h3>12313</h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, suscipit.</p>
                                <a href="#">go</a>
                            </div>
                            <div class="box_product" id="box_product4">
                                <img src="" alt="">
                                <h3>12313</h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, suscipit.</p>
                                <a href="#">go</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        
        <div class="content_box">
            <a href="#">“Success is so easy when something works out quickly. It’s GREAT, fantastic! But when you’ve gone through
                sort of
                ADVERSITY, and you’ve had the rug pulled from under your feet – professionally and PERSONALLY – that’s
                when you go
                to the real depths of yourself”</a>
            <div class="img_box">
                <div class="box_image_poster" id="box1_image_poster">
                    <img  src="/img/men_shirt_1.jpg" alt="">    
                    <p>Jacket, and pants, both Wardrobe.NYC</p>
                </div>
                <div class="box_image_poster" id="box2_image_poster">
                    <img  src="/img/men_shirt_1.jpg" alt="">    
                    <p>Jacket, pants, and boots, all Wardrobe.NYC</p>
                </div>
            </div>
            <p>“As I’ve gotten older, I feel less need to prove myself to people,” she tells me over an iced coffee. “I
                feel pretty
                good that I know who I am. A couple of years ago, I was in a very different headspace – and we all have
                periods
                where we’re not feeling good, but you need those moments to appreciate when things are better.” Right
                now, at 37,
                she says, she’s feeling the best she has in years.</p>
        </div>
        <div class="buy_product_2">
            <div class="box_product_detail" id="box_product1">
                <img src="" alt="">
                <h3>12313</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, suscipit.</p>
                <a href="#">go</a>
            </div>
            <div class="box_product_detail" id="box_product2">
                <img src="" alt="">
                <h3>12313</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, suscipit.</p>
                <a href="#">go</a>
            </div>
            <div class="box_product_detail" id="box_product3">
                <img src="" alt="">
                <h3>12313</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, suscipit.</p>
                <a href="#">go</a>
            </div>
            
        </div>
        <div class="main_content_2">
            <div class="text_main_content">
                <div class="text_float">
                    <h2>“C’</h2>
                </div>
                <div class="box_text_right">
                    <p>Surface-level, she seems like the woman who’s got it all: the fabulous houses, the booming career, the
                        action-hero husband, two beautiful children, and a wardrobe brimming with The Row, Saint Laurent and
                        Alaïa. And 20 million followers to share it all with. But she’s refreshingly candid about the fact there
                        have been challenges. There was a brief acting career, a beauty brand that she stepped away from this
                        year, uprooting her family to London during the pandemic, postpartum struggles, and a few years where
                        work took a backseat after having her babies.</p><br>
                    <p>“Success is so easy when something works out quickly,” she points out. “It’s great, fantastic! But when
                        you’ve gone through sort of adversity, or you’ve had these challenging moments, and you’ve had the rug
                        pulled from under your feet – professionally and personally – that’s when you go to the real depths of
                        yourself. In the moment, it feels horrendous. But as time goes by, you get to have more perspective, you
                        get to have understood a side of yourself that is resilient.”</p><br>
                    <p>Her wisdom comes with more than two decades of professional experience. The story of how she got her
                        start is somewhat legendary. Having grown up helping out on the family farm in Devon, at 15 she wrote to
                        a modeling agency to do a work-experience placement, which she spent making cups of tea and filing model
                        books until someone realized that there was a potential supermodel right under their noses. Back to
                        Devon she went, returning to London the following year with a handful of GCSEs and the indeterminable
                        drive that saw her pound the pavements to castings and travel to do catalogue work and teen magazines –
                        often on her own.</p>
                        
                </div>
                <div class="buy_product_3">
                    <div class="box_product" id="box_product1">
                        <img src="" alt="">
                        <h3>12313</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, suscipit.</p>
                        <a href="#">go</a>
                    </div>
                    <div class="box_product" id="box_product2">
                        <img src="" alt="">
                        <h3>12313</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, suscipit.</p>
                        <a href="#">go</a>
                    </div>
                    <div class="box_product" id="box_product3">
                        <img src="" alt="">
                        <h3>12313</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, suscipit.</p>
                        <a href="#">go</a>
                    </div>
                    <div class="box_product" id="box_product4">
                        <img src="" alt="">
                        <h3>12313</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, suscipit.</p>
                        <a href="#">go</a>
                    </div>
                </div>
            </div>
            <img class="img_container" src="/img/men_shirt_1.jpg" alt="">
        </div>
        <a href="#">“I was doing CASTINGS with 200 girls… getting out in the middle of NOWHERE and middle of the night… being sent home from SHOOTS because I was too ‘wholesome-looking’ or ‘too full-figured’”
            PROENZA SCHOULER
            Dani paneled faux leather-trimmed chiffon and frayed jersey maxi wrap dress
            $3,652.00
            Select a Size
            Add To Shopping Bag
            Add To Wish List
            View Product Details</a>
        <div class="main_content_3">
            <img class="img_container" src="/img/men_shirt_1.jpg" alt="">
            <div class="text_main_content">
                <div class="text_float">
                    <h2>“P’</h2>
                </div>
                <div class="box_text_right">
                    <p>“I’m not usually this dressed-up,” Rosie Huntington-Whiteley promises with distinctly British
                        self-depreciatory charm, as the door to her Chelsea pied-à-terre swings open. Gold pendants dangle
                        above a Hermès tank top and a Wardrobe.NYC drill skirt. Heels, of course (and upstairs, a miniature
                        taupe-colored ‘Kelly’ bag is resting on a white bouclé sofa). Not a hair is out of place. She could
                        easily be about to do an Architectural Digest home tour of the wedding-cake house, which is as
                        beautifully dressed as she is, designed by Rose Uniacke and filled with esoteric pieces.
    
                        She’s quick to point out that she has been on duty at a press day, talking editors through her
                        latest high-street underwear line. Her kids, meanwhile, are almost back at school. She’s spent a
                        couple of weeks on vacation, but has upcoming work trips to the Middle East, fashion-week shows to
                        attend, a new career pivot as an angel investor, and the launch of a collection she’s designed for
                        Wardrobe.NYC, a brand she says she wears most days – and that we’re here to discuss. So, a
                        standardly whirlwind time for the supermodel-turned-entrepreneur.
    
                        Getting to know Huntington-Whiteley is interesting because there’s far more to her than meets the
                        eye. As a supermodel, that’s probably the story of her life. But the lacquered image of perfection
                        belies a far more fascinating story of a woman who has worked hard to gain autonomy in a world that
                        is keen to pigeonhole her as the ultimate pin-up. Underestimate her at your own peril seems to be
                        the underlying narrative.</p>
                        <div class="buy_product_1">
                            <div class="box_product" id="box_product1">
                                <img src="" alt="">
                                <h3>12313</h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, suscipit.</p>
                                <a href="#">go</a>
                            </div>
                            <div class="box_product" id="box_product2">
                                <img src="" alt="">
                                <h3>12313</h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, suscipit.</p>
                                <a href="#">go</a>
                            </div>
                            <div class="box_product" id="box_product3">
                                <img src="" alt="">
                                <h3>12313</h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, suscipit.</p>
                                <a href="#">go</a>
                            </div>
                            <div class="box_product" id="box_product4">
                                <img src="" alt="">
                                <h3>12313</h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, suscipit.</p>
                                <a href="#">go</a>
                            </div>
                        </div>
            
                </div>
                
            </div>
            
        </div>
        <a href="#">“I’m MINDFUL of what I expose because it’s my children’s CHOICE if they want a public life or not, and so I’m going to do everything I can to PROTECT them”</a>

    </section>
</body>

</html>