<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="css/desktop.css">
   <link rel="stylesheet" href="css/tablet.css">
   <link rel="stylesheet" href="css/mobile.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
   <nav>

      <div class="logo-brand">
         <a href="../Homepage/homepage.html">
            <h2>Belle</h2>
         </a>
      </div>
      <ul class="dropdown-1">

         <li><a href="../Category/category.html">Category</a>

            <ul class="dropdown-2">
               <li><a href="">Women</a>

                  <ul class="dropdown-3">
                     <li><a href="">Show All</a></li>
                     <li><a href="">Tops</a></li>
                     <li><a href="">Coats</a></li>
                     <li><a href="">Dress</a></li>
                     <li><a href="">Jeans</a></li>
                  </ul>
               </li>
               <li><a href="">Men</a>
                  <ul class="dropdown-3" id="men-menu">
                     <li><a href="">Show All</a></li>
                     <li><a href="">Tops</a></li>
                     <li><a href="">Coats</a></li>
                     <li><a href="">Dress</a></li>
                     <li><a href="">Jeans</a></li>
                  </ul>
               </li>
               <li><a href="">Unisex</a>
                  <ul class="dropdown-3" id="unisex-menu">
                     <li><a href="">Show All</a></li>
                     <li><a href="">Tops</a></li>
                     <li><a href="">Coats</a></li>
                     <li><a href="">Dress</a></li>
                     <li><a href="">Jeans</a></li>
                  </ul>
               </li>
               <li><a href="">Shoes</a>
                  <ul class="dropdown-3" id="shoes-menu">
                     <li><a href="">Show All</a></li>
                     <li><a href="">Tops</a></li>
                     <li><a href="">Coats</a></li>
                     <li><a href="">Dress</a></li>
                     <li><a href="">Jeans</a></li>
                  </ul>
               </li>
               <li><a href="">Accessories</a>
                  <ul class="dropdown-3" id="acc-menu">
                     <li><a href="">Show All</a></li>
                     <li><a href="">Tops</a></li>
                     <li><a href="">Coats</a></li>
                     <li><a href="">Dress</a></li>
                     <li><a href="">Jeans</a></li>
                  </ul>
               </li>
            </ul>
         </li>
         <li><a href="../Shopping_bag/shopping_bag.html"><span class="material-symbols-outlined">
                  local_mall
               </span></a></li>
         <li><a href="../Wishlist/wishlist.html"><span class="material-symbols-outlined">
                  favorite
               </span></a></li>
         <li><a href="../Account/account.html"><span class="material-symbols-outlined">
                  account_circle
               </span></a></li>
      </ul>

   </nav>
   <section>
      <div class="image_section">
      </div>
      <div class="main_content_1">
         <img class="img_container" src="/img/how-to-style-a-leather-blazer-matching-accessories(1).webp" alt="">
         <div class="text_main_content">
            <div class="text_float">
               <h2>“I’</h2>
            </div>
            <div class="box_text_right">
               <p>“I’m not usually this dressed-up,” Rosie Huntington-Whiteley promises with distinctly British
                  self-depreciatory charm, as the door to her Chelsea pied-à-terre swings open. Gold pendants
                  dangle
                  above a Hermès tank top and a Wardrobe.NYC drill skirt. Heels, of course (and upstairs, a
                  miniature
                  taupe-colored ‘Kelly’ bag is resting on a white bouclé sofa). Not a hair is out of place. She
                  could
                  easily be about to do an Architectural Digest home tour of the wedding-cake house, which is as
                  beautifully dressed as she is, designed by Rose Uniacke and filled with esoteric pieces.

                  She’s quick to point out that she has been on duty at a press day, talking editors through her
                  latest high-street underwear line. Her kids, meanwhile, are almost back at school. She’s spent a
                  couple of weeks on vacation, but has upcoming work trips to the Middle East, fashion-week shows
                  to
                  attend, a new career pivot as an angel investor, and the launch of a collection she’s designed
                  for
                  Wardrobe.NYC, a brand she says she wears most days – and that we’re here to discuss. So, a
                  standardly whirlwind time for the supermodel-turned-entrepreneur.

                  Getting to know Huntington-Whiteley is interesting because there’s far more to her than meets
                  the
                  eye. As a supermodel, that’s probably the story of her life. But the lacquered image of
                  perfection
                  belies a far more fascinating story of a woman who has worked hard to gain autonomy in a world
                  that
                  is keen to pigeonhole her as the ultimate pin-up. Underestimate her at your own peril seems to
                  be
                  the underlying narrative.</p>
               <div class="buy_product_1">
                  <div class="box_product">
                     <img src="/img/3704002_17000207827793_500.jpg" alt="">
                     <div class="box_producttext">
                        <h3>ISABEL MARANT</h3>
                        <p>Joely metallic ribbed-knit tank</p>
                        <div class="btn_shop">
                           <a href="#">Shop</a>
                        </div>
                     </div>
                  </div>
                  <div class="box_product">
                     <img src="/img/21477878_51669439_1000.jpg" alt="">
                     <div class="box_producttext">
                        <h3>CELINE EYEWEAR</h3>
                        <p>Triomphe crystal-embellished square-frame gold-tone sunglasses</p>
                        <div class="btn_shop">
                           <a href="#">Shop</a>
                        </div>
                     </div>
                  </div>
                  <div class="box_product">
                     <img src="/img/https___is4.fwrdassets.com_images_p_fw_z_FNEF-WY3406_V1.jpg" alt="">
                     <div class="box_producttext">
                        <h3>CHLOÉ</h3>
                        <p>Eve textured-leather knee boots</p>
                        <div class="btn_shop">
                           <a href="#">Shop</a>
                        </div>
                     </div>

                  </div>
                  <div class="box_product">
                     <div class="box_producttext"> <img
                           src="/img/1634694414e483dc21480f4ebe7ad1e8481863119b_thumbnail_405x552.jpg" alt="">
                        <h3>ALAÏA</h3>
                        <p>Pleated wool maxi skirt</p>
                        <div class="btn_shop">
                           <a href="#">Shop</a>
                        </div>
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="content_box">
         <div class="img_box">
            <div class="box_image_poster" id="box1_image_poster">
               <img src="/img/m10.jpg" alt="">
               <p>Jacket, and pants, both Wardrobe.NYC</p>
            </div>
            <div class="box_image_poster" id="box2_image_poster">
               <img src="/img/m11.jpg" alt="">
               <p>Jacket, pants, and boots, all Wardrobe.NYC</p>
            </div>
         </div>
         <p>“As I’ve gotten older, I feel less need to prove myself to people,” she tells me over an iced coffee. “I
            feel pretty
            good that I know who I am. A couple of years ago, I was in a very different headspace – and we all have
            periods
            where we’re not feeling good, but you need those moments to appreciate when things are better.” Right
            now, at 37,
            she says, she’s feeling the best she has in years.</p>
      </div>
      <div class="buy_product_2">
         <div class="box_product_detail_1">
            <img src="/img/2_696850e1-fd80-4511-849e-ccaa513da847_800x.webp" alt="">
            <h3>ISABEL MARANT</h3>
            <p>Joely metallic ribbed-knit tank</p>
            <div class="btn_shop">
               <a href="#">Shop</a>
            </div>
         </div>
         <div class="box_product_detail_1">
            <img src="/img/2100002568770_2.webp" alt="">
            <h3>
               CELINE EYEWEAR</h3>
            <p>Triomphe crystal-embellished square-frame gold-tone sunglasses</p>
            <div class="btn_shop">
               <a href="#">Shop</a>
            </div>
         </div>
         <div class="box_product_detail_1">
            <img
               src="/img/sac-autre-saintlaurent-2401-267-Saint_Laurent-vintega-seconde-main-luxe-maroquinerie-occasion_1_n.webp"
               alt="">
            <h3>CHLOÉ</h3>
            <p>Eve textured-leather knee boots</p>
            <div class="btn_shop">
               <a href="#">Shop</a>
            </div>
         </div>

      </div>
      <div class="main_content_2">
         <div class="text_main_content">
            <div class="text_float">
               <h2>“C’</h2>
            </div>
            <div class="box_text_right">
               <p>Surface-level, she seems like the woman who’s got it all: the fabulous houses, the booming
                  career, the
                  action-hero husband, two beautiful children, and a wardrobe brimming with The Row, Saint Laurent
                  and
                  Alaïa. And 20 million followers to share it all with. But she’s refreshingly candid about the
                  fact there
                  have been challenges. There was a brief acting career, a beauty brand that she stepped away from
                  this
                  year, uprooting her family to London during the pandemic, postpartum struggles, and a few years
                  where
                  work took a backseat after having her babies.</p><br>
               <p>“Success is so easy when something works out quickly,” she points out. “It’s great, fantastic!
                  But when
                  you’ve gone through sort of adversity, or you’ve had these challenging moments, and you’ve had
                  the rug
                  pulled from under your feet – professionally and personally – that’s when you go to the real
                  depths of
                  yourself. In the moment, it feels horrendous. But as time goes by, you get to have more
                  perspective, you
                  get to have understood a side of yourself that is resilient.”</p><br>
               <p>Her wisdom comes with more than two decades of professional experience. The story of how she got
                  her
                  start is somewhat legendary. Having grown up helping out on the family farm in Devon, at 15 she
                  wrote to
                  a modeling agency to do a work-experience placement, which she spent making cups of tea and
                  filing model
                  books until someone realized that there was a potential supermodel right under their noses. Back
                  to
                  Devon she went, returning to London the following year with a handful of GCSEs and the
                  indeterminable
                  drive that saw her pound the pavements to castings and travel to do catalogue work and teen
                  magazines –
                  often on her own.</p>

            </div>
            <div class="buy_product_3">
               <div class="box_product">
                  <img src="/img/https___lp.arket.com_app006prod_set5B2F.jpg" alt="">
                  <h3>ISABEL MARANT</h3>
                  <p>Joely metallic ribbed-knit tank</p>
                  <div class="btn_shop">
                     <a href="#">Shop</a>
                  </div>
               </div>
               <div class="box_product">
                  <img src="/img/661341-0014_20.jpg" alt="">
                  <h3>CELINE EYEWEAR</h3>
                  <p>
                     Triomphe crystal-embellished square-frame gold-tone sunglasses
                  </p>
                  <div class="btn_shop">
                     <a href="#">Shop</a>
                  </div>
               </div>
               <div class="box_product">
                  <img src="/img/4S282CPLB.19TR_3_SS24_W.webp" alt="">
                  <h3>CHLOÉ</h3>
                  <p>Eve textured-leather knee boots</p>
                  <div class="btn_shop">
                     <a href="#">Shop</a>
                  </div>
               </div>
               <div class="box_product">
                  <img src="/img/A20D4B0A-3E08-4C4E-B610-154423ECA0E8_720x.webp" alt="">
                  <h3>ALAÏA</h3>
                  <p>Pleated wool maxi skirt</p>
                  <div class="btn_shop">
                     <a href="#">Shop</a>
                  </div>
               </div>
            </div>
         </div>
         <img class="img_container" src="/img/m12.jpg" alt="">
      </div>
      <div class="main_content_4">
         <h3>Recommended</h3>
         <div class="buy_product_4">
            <div class="box_product_detail_2">
               <img src="/img/bg_4875509_100244_m.jpg" alt="">
               <h3>
                  ISABEL MARANT</h3>
               <p>Joely metallic ribbed-knit tank</p>
               <div class="btn_shop">
                  <a href="#">Shop</a>
               </div>
            </div>
            <div class="box_product_detail_2">
               <img src="/img/bd2ef5b4c5182abff324ffa410f550c5_tn.jpg" alt="">
               <h3>CELINE EYEWEAR</h3>
               <p>Triomphe crystal-embellished square-frame gold-tone sunglasses</p>
               <div class="btn_shop">
                  <a href="#">Shop</a>
               </div>
            </div>
            <div class="box_product_detail_2">
               <img src="/img/24670403_54994909_600.jpg" alt="">
               <h3>CHLOÉ</h3>
               <p>Eve textured-leather knee boots</p>
               <div class="btn_shop">
                  <a href="#">Shop</a>
               </div>
            </div>

         </div>
      </div>


   </section>
</body>

</html>
