<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/desktop.css">
    <link rel="stylesheet" href="css/tablet.css">
    <link rel="stylesheet" href="css/mobile.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <button class="chatbot-toggler">
        <i class="bi bi-chat-dots"></i> <!-- ไอคอนปุ่มเปิดแชท -->
    </button>

    <!-- หน้าจอแชท -->
    <section class="chat_section">
        <h1>Live Chat</h1>
        <aside id="chat_main">
            <div class="box_chat" id="box_chat_1">
                <div class="profile">
                    <div class="image_chat">
                        <img src="image/b9afc46a246b4fb67d3d5f8e69fd13ac.jpg" alt="">
                    </div>
                    <p>I’ll have to text you back. Give me about 45 min.Send me the document in the meantime</p>
                </div>
            </div>
            <div class="box_chat" id="box_chat_2">
                <p>I’ll have to text you back. Give 
                    me about 45 min.Send me the 
                    document in the meantime</p>
            </div>
            <div class="box_chat" id="box_chat_3">
                <div class="profile">
                    <div class="image_chat">
                        <img src="image/18354578.jpg" alt="">
                    </div>
                    <p>Morning</p>
                </div>
            </div>
            <div class="box_chat" id="box_chat_4">
                <p>DELL!!</p>
            </div>
            <div class="box_chat" id="box_chat_5">
                <div class="profile">
                    <div class="image_chat">
                        <img src="image/4485223b109446b93715cc30a50e1f00.jpg" alt="">
                    </div>
                    <p>Lorem, ipsum dolor sit amet </p>
                </div>
            </div>
            <!-- ข้อความแชทเพิ่มเติมที่นี่ -->
        </aside>
        <div class="chat_input">
            <i class="bi bi-paperclip attach_icon"></i>
            <input type="text" placeholder="Type a message" id="message_input">
            <i class="bi bi-send send_icon" id="sendChatBtn"></i>
        </div>
    </section>

    <script>
        const chatbotToggler = document.querySelector(".chatbot-toggler");
        const chatSection = document.querySelector(".chat_section");

        // เปิด/ปิดแชทเมื่อคลิกที่ปุ่ม
        chatbotToggler.addEventListener("click", () => {
            chatSection.classList.toggle("show-chat");
        });
    </script>
</body>
</html>

