@import url(../../../component/body/fonts.css);
@import url(../../../component/body/style.css);
@import url(../../../component/navbar/navbar.css);
@import url(../../../component/footer/footer.css);

/* responsive */
@import url(mobile.css);
@import url(desktop.css);


@media screen and (min-width:578px) and (max-width:1024px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    section {
        margin: 0 80px;
        /* overflow: hidden; */
    }
    
    aside {
        width: 30%;
        min-width: 200px; 
    }
    
    main {
        width: 70%;
        /* min-width: 580px;  */
        background-color: blue;
    }
    .content_main{
        /* width: 100%; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* gap: 10px; */
    }
    .box_content {
        width: 47.5%;
    }
    .BEM{
        display: none;
    }
    .back{
        display: none;
    }
    body{
        background-color: aqua;
    }
    .search{
        display: flex;
        margin-bottom: 20px;
        justify-content: flex-start;
    }
    .recommended_main{
        width: 40%;
        /* margin-left: 3%; */
        /* justify-content: flex-start; */
        margin-left:15px ;
        
    }
    .recommended_main select {
        width:100%; 
        font-size: 17px;
        border-radius: 12px;
        border: 1px solid white;
        padding: 10px 0;
    }
    
    .search-container {
        width: 60%;
        display: inline-flex; /* เปลี่ยนเป็น inline-flex เพื่อจัดเรียง input และ button ในแถวเดียวกัน */
        align-items: center; /* จัดให้ input และ button อยู่ตรงกลางในแนวตั้ง */
        border: 2px solid #0E6EB3;
        border-radius: 12px;
    }
    
    .search-container input[type=text] {
        width:70%; 
        /* padding: 10px; */
        font-size: 17px;
        border-radius: 12px 0 0 12px;
        border: 1px solid white;
    }
    
    #btn_search {
        display: flex;
        justify-content: center;
        /* flex-wrap: wrap; */
        overflow: hidden;
        width: 30%;
        padding: 13px;
        cursor: pointer;
        border-radius: 0 12px 12px 0;
        background-color: #0E6EB3;
        color: white;
        border: 1px solid white;
    }
    .input_search{
        /* border: 1px solid #000; */
    }
}