@media only screen and (max-width: 426px) {
  .container {
    margin: 0;
    padding: 1rem;
  }
  .step_wrapper p {
    display: none;
  }
  .step_wrapper {
   width: 100%;
   justify-content: center;
  }
  form {
   margin: 0;
   padding: 0;
   width: 100%;
  }
  .name {
   display: block;
  }
  #city {
   width: 30%;
  }
  footer {
   display: none;
  }
}
