@media only screen and (max-width: 767px) {
   .container {
      margin: 0;
      padding: 1rem;
    }
    .step_wrapper p {
      display: none;
    }
    .step_wrapper {
     width: 100%;
     justify-content: center;
    }
    form {
     margin: 0;
     padding: 0;
     width: 100%;
    }
    .name {
     display: block;
    }
    #city {
     width: 40% !important;
    }
    .logo-brand {
      padding-left: 1em;
    }
    .menu {
      margin-right: 1em;
    }
    .category {
      padding-left: 1em;
      padding-right: 0;
    }
    .breadcrumb_item {
      margin-left: 1em;
    }
    .btn-back a {
      display: block;
      padding: .2em .5em;
      border-radius: 5px;
      width: fit-content;
      color: #fff;
      background-color: #014197;
     }
    footer {
      display: block;
      text-align: center;
    }
  
    .Social-icon {
      justify-content: center;
    }
    .footer-menu {
      flex-direction: column;
      gap: 0;
      text-align: start;
    }
    .footer-menu-link {
      padding: 0;
      margin: 0;
    }
    .footer-menu-link li {
      padding: 0.5em 2em;
    }
    .footer-menu-link h4 {
      font-size: 1.2em;
    }
    .footer-info {
      width: 100%;
    }
    .footer-menu-link a {
      background-color: #fff;
      color: #014197;
      padding: 0.4em;
      border-radius: 5px;
    }
 }
