<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help Center</title>
    <link rel="stylesheet" href="css/desktop.css" />
    <link rel="stylesheet" href="css/tablet.css" />
    <link rel="stylesheet" href="css/mobile.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <nav>
      <div class="logo-brand">
        <a href="">
          <h2>Belle</h2>
        </a>
      </div>
      <ul class="menu">
        <li>
          <a href="../Shopping_bag/shopping_bag.html" class="menu-desktop"
            ><i class="bi bi-bag-fill"></i
          ></a>
        </li>
        <li>
          <a href="" class="menu-desktop"><i class="bi bi-heart-fill"></i></a>
        </li>
        <li>
          <a href="" class="menu-desktop"
            ><i class="bi bi-person-circle"></i
          ></a>
        </li>
        <li>
          <a href="" id="hamburger"><i class="bi bi-list"></i></a>
        </li>
      </ul>
    </nav>
    <div class="category">
      <ul class="category-body">
        <li class="category-item">
          <a href="" class="category-link"
            >Men <i class="bi bi-caret-down"></i
          ></a>

          <ul class="dropdown-1">
            <li class="show-dropdown-2">
              <a href="">Clothing <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">T-Shirt</a></li>
                <li><a href="">Shirt</a></li>
                <li><a href="">Pants</a></li>
                <li><a href="">Jackets</a></li>
              </ul>
            </li>

            <li class="show-dropdown-2">
              <a href="">Shoes <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">Sneakers</a></li>
                <li><a href="">Formal Shoes</a></li>
                <li><a href="">Boots</a></li>
                <li><a href="">Sandals</a></li>
              </ul>
            </li>

            <li class="show-dropdown-2">
              <a href="">Accessories <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">Watches</a></li>
                <li><a href="">Belts</a></li>
                <li><a href="">Hats</a></li>
                <li><a href="">Sunglasses</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="category-item" id="category-women">
          <a href="" class="category-link"
            >Women <i class="bi bi-caret-down"></i
          ></a>

          <ul class="dropdown-1">
            <li class="show-dropdown-2">
              <a href="">Clothing <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">T-Shirt</a></li>
                <li><a href="">Shirt</a></li>
                <li><a href="">Pants</a></li>
                <li><a href="">Jackets</a></li>
              </ul>
            </li>

            <li class="show-dropdown-2">
              <a href="">Shoes <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">Sneakers</a></li>
                <li><a href="">Formal Shoes</a></li>
                <li><a href="">Boots</a></li>
                <li><a href="">Sandals</a></li>
              </ul>
            </li>

            <li class="show-dropdown-2">
              <a href="">Accessories <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">Watches</a></li>
                <li><a href="">Belts</a></li>
                <li><a href="">Hats</a></li>
                <li><a href="">Sunglasses</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="category-item" id="category-unisex">
          <a href="" class="category-link"
            >Unisex <i class="bi bi-caret-down"></i
          ></a>

          <ul class="dropdown-1">
            <li class="show-dropdown-2">
              <a href="">Clothing <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">T-Shirt</a></li>
                <li><a href="">Shirt</a></li>
                <li><a href="">Pants</a></li>
                <li><a href="">Jackets</a></li>
              </ul>
            </li>

            <li class="show-dropdown-2">
              <a href="">Shoes <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">Sneakers</a></li>
                <li><a href="">Formal Shoes</a></li>
                <li><a href="">Boots</a></li>
                <li><a href="">Sandals</a></li>
              </ul>
            </li>

            <li class="show-dropdown-2">
              <a href="">Accessories <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">Watches</a></li>
                <li><a href="">Belts</a></li>
                <li><a href="">Hats</a></li>
                <li><a href="">Sunglasses</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="category-item">
          <a href="" class="category-link">News</a>
        </li>
        <li class="category-item">
          <a href="" class="category-link">Best-selling</a>
        </li>
      </ul>
    </div>
    <section>
      <div class="container">
        <h1>FAQ</h1>
        <div class="faq-list">
          <div class="faq">
            <div class="ques">
              <p>What payment methods do you accept?</p>
              <i class="bi bi-plus-circle"></i>
            </div>
            <div class="ans">
              <p>
                We accept a variety of payment methods, including credit/debit
                cards (Visa, MasterCard, AMEX), PayPal, and other secure online
                payment gateways.
              </p>
            </div>
          </div>
        </div>
        <div class="faq-list">
          <div class="faq">
            <div class="ques">
              <p>What is your return and exchange policy?</p>
              <i class="bi bi-plus-circle"></i>
            </div>
            <div class="ans">
              <p>
                We accept a variety of payment methods, including credit/debit
                cards (Visa, MasterCard, AMEX), PayPal, and other secure online
                payment gateways.
              </p>
            </div>
          </div>
        </div>
        <div class="faq-list">
          <div class="faq">
            <div class="ques">
              <p>What should I do if I receive the wrong or damaged item?</p>
              <i class="bi bi-plus-circle"></i>
            </div>
            <div class="ans">
              <p>
                We accept a variety of payment methods, Lorem ipsum dolor sit,
                amet consectetur adipisicing elit. Obcaecati qui repellat dicta
                accusantium libero. Error veniam sed numquam minus repellendus
                obcaecati quis iusto inventore laboriosam molestiae, soluta iure
                deserunt, debitis libero? Nostrum reiciendis eligendi
                accusantium dicta soluta ipsa labore cupiditate obcaecati optio
                vel, rem harum eius laudantium, neque, suscipit nemo.including
                credit/debit cards (Visa, MasterCard, AMEX), PayPal, and other
                secure online payment gateways.
              </p>
            </div>
          </div>
        </div>
        <div class="faq-list">
          <div class="faq">
            <div class="ques">
              <p>How do I choose the right size?</p>
              <i class="bi bi-plus-circle"></i>
            </div>
            <div class="ans">
              <p>
                We accept a variety of payment methods, including credit/debit
                cards (Visa, MasterCard, AMEX), PayPal, and other secure online
                payment gateways.
              </p>
            </div>
          </div>
        </div>
        <div class="box_footer">
          <h2>Contact Us</h2>

          <!-- ส่วนของ select -->

          <select id="category" name="category">
            <option value="general">Select Topic</option>
            <option value="feedback">ข้อเสนอแนะ</option>
            <option value="inquiry">สอบถามข้อมูล</option>
            <option value="complaint">ร้องเรียน</option>
          </select>
          <textarea id="message" name="message" rows="10" cols="20">
Type here......</textarea
          ><br />

          <!-- ปุ่มส่งฟอร์ม -->
          <div class="btn_send_message">
            <a href="#">Send message</a>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="footer-info">
        <div class="footer-head">
          <h2>Belle</h2>
          <p>Always Beautiful</p>
        </div>
        <div class="Social-icon">
          <img src="../../img/icon/Facebook.svg" alt="icon Facebook" />
          <img src="../../img/icon/Google.svg" alt="icon Google" />
          <img src="../../img/icon/Gmail.svg" alt="icon Gmail" />
          <img src="../../img/icon/Instagram.svg" alt="icon Instagram" />
          <img src="../../img/icon/TikTok.svg" alt="icon TikTok" />
        </div>
        <div class="copyright">
          <h4>© 2024 Belle.com All Rights Reserved.</h4>
          <p>
            All content, including images, text, and designs, is the property of
            Belle.com and may not be reproduced or distributed without
            permission.
          </p>
        </div>
      </div>

      <div class="footer-menu">
        <ul class="footer-menu-link">
          <li>
            <h4>Category</h4>
          </li>
          <li><a href="">Women</a></li>
          <li><a href="">Men</a></li>
          <li><a href="">Unisex</a></li>
          <li><a href="">Shoes</a></li>
          <li><a href="">Accessories</a></li>
        </ul>
        <ul class="footer-menu-link">
          <li>
            <h4>Account</h4>
          </li>
          <li><a href="">Setting</a></li>
          <li><a href="">Order Tracking</a></li>
          <li><a href="">Return</a></li>
        </ul>
        <ul class="footer-menu-link">
          <li>
            <h4>News & Promotion</h4>
          </li>
          <li><a href="">New Collection 2024</a></li>
          <li><a href="">Best Selling 2024</a></li>
          <li><a href="">News</a></li>
        </ul>
        <ul class="footer-menu-link">
          <li>
            <h4>Help Center</h4>
          </li>
          <li><a href="">FAQ+</a></li>
          <li><a href="">Live Chat</a></li>
          <li><a href="">Contact Us</a></li>
        </ul>
      </div>
    </footer>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const faqs = document.querySelectorAll(".faq");

        faqs.forEach((faq) => {
          faq.querySelector(".ques").addEventListener("click", () => {
            faq.classList.toggle("active");
          });
        });
      });
    </script>
  </body>
</html>
