<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/desktop.css">
    <link rel="stylesheet" href="css/tablet.css">
    <link rel="stylesheet" href="css/mobile.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"> -->
    <title>Size Chart</title>
</head>

<body>
    <main>
        <div class="h1_header">
            <h1>Size range</h1>
        </div>
        <section>
            <div class="image_1">
                <img src="../../img/GuidetailleBurda1-Copy.jpg" alt="">
            </div>
            <div class="container_table">
                
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">N</th>
                            <th colspan="2">L</th>
                            <th colspan="2">K</th>
                            <th colspan="2">Oberweite<br>Tour de poitrine<br>Bovenwijdte</th>
                            <th colspan="2">Taillenweite<br>Tour de taille<br>Taillewijdte</th>
                            <th colspan="2">Hüfteweite<br>Tour des hanches<br>Heupwijdte</th>
                        </tr>
                        <tr id="tr_hearder">
                            <td>5'6''</td>
                            <td>176 cm</td>
                            <td>5'3''</td>
                            <td>168 cm</td>
                            <td>5'9''</td>
                            <td>160 cm</td>
                            <td colspan="2" class="no-right-border"></td>
                            <td colspan="2" class="no-right-border"></td>
                            <td colspan="2" class="no-right-border"></td>
                        </tr>
    
                        <tr>
                            <td>US</td>
                            <td>Eur</td>
                            <td>US</td>
                            <td>Eur</td>
                            <td>US</td>
                            <td>Eur</td>
                            <td>ins</td>
                            <td>cm</td>
                            <td>ins</td>
                            <td>cm</td>
                            <td>ins</td>
                            <td>cm</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>6</td>
                            <td>32</td>
                            <td>6</td>
                            <td>32</td>
                            <td>6</td>
                            <td>32</td>
                            <td>30</td>
                            <td>76</td>
                            <td>23</td>
                            <td>58</td>
                            <td>32½</td>
                            <td>82</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>34</td>
                            <td>8</td>
                            <td>34</td>
                            <td>8</td>
                            <td>34</td>
                            <td>31½</td>
                            <td>80</td>
                            <td>24½</td>
                            <td>62</td>
                            <td>34</td>
                            <td>86</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>36</td>
                            <td>10</td>
                            <td>36</td>
                            <td>10</td>
                            <td>36</td>
                            <td>33</td>
                            <td>84</td>
                            <td>26</td>
                            <td>66</td>
                            <td>35½</td>
                            <td>90</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>38</td>
                            <td>12</td>
                            <td>38</td>
                            <td>12</td>
                            <td>38</td>
                            <td>34¼</td>
                            <td>87</td>
                            <td>27¾</td>
                            <td>70</td>
                            <td>37</td>
                            <td>94</td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>40</td>
                            <td>14</td>
                            <td>40</td>
                            <td>14</td>
                            <td>40</td>
                            <td>36</td>
                            <td>91</td>
                            <td>29</td>
                            <td>74</td>
                            <td>38½</td>
                            <td>98</td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td>42</td>
                            <td>16</td>
                            <td>42</td>
                            <td>16</td>
                            <td>42</td>
                            <td>37¾</td>
                            <td>96</td>
                            <td>30¼</td>
                            <td>77</td>
                            <td>40</td>
                            <td>102</td>
                        </tr>
                        <tr>
                            <td>18</td>
                            <td>44</td>
                            <td>18</td>
                            <td>44</td>
                            <td>18</td>
                            <td>44</td>
                            <td>39½</td>
                            <td>100</td>
                            <td>31¾</td>
                            <td>81</td>
                            <td>41¼</td>
                            <td>106</td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>46</td>
                            <td>20</td>
                            <td>46</td>
                            <td>20</td>
                            <td>46</td>
                            <td>41¼</td>
                            <td>105</td>
                            <td>33¼</td>
                            <td>84</td>
                            <td>43¼</td>
                            <td>110</td>
                        </tr>
                        <tr>
                            <td>22</td>
                            <td>48</td>
                            <td>22</td>
                            <td>48</td>
                            <td>22</td>
                            <td>48</td>
                            <td>43</td>
                            <td>109</td>
                            <td>34¾</td>
                            <td>88</td>
                            <td>45</td>
                            <td>114</td>
                        </tr>
                        <tr>
                            <td>24</td>
                            <td>50</td>
                            <td>24</td>
                            <td>50</td>
                            <td>24</td>
                            <td>50</td>
                            <td>44¾</td>
                            <td>114</td>
                            <td>36½</td>
                            <td>93</td>
                            <td>47</td>
                            <td>120</td>
                        </tr>
                        <tr>
                            <td>26</td>
                            <td>52</td>
                            <td>26</td>
                            <td>52</td>
                            <td>26</td>
                            <td>52</td>
                            <td>46½</td>
                            <td>118</td>
                            <td>38¼</td>
                            <td>97</td>
                            <td>49</td>
                            <td>124</td>
                        </tr>
                        <tr>
                            <td>28</td>
                            <td>54</td>
                            <td>28</td>
                            <td>54</td>
                            <td>28</td>
                            <td>54</td>
                            <td>48¼</td>
                            <td>122</td>
                            <td>40</td>
                            <td>102</td>
                            <td>50¾</td>
                            <td>128</td>
                        </tr>
                        <tr>
                            <td>30</td>
                            <td>56</td>
                            <td>30</td>
                            <td>56</td>
                            <td>30</td>
                            <td>56</td>
                            <td>50¼</td>
                            <td>128</td>
                            <td>42</td>
                            <td>107</td>
                            <td>52½</td>
                            <td>134</td>
                        </tr>
                        <tr>
                            <td>32</td>
                            <td>58</td>
                            <td>32</td>
                            <td>58</td>
                            <td>32</td>
                            <td>58</td>
                            <td>52¼</td>
                            <td>132</td>
                            <td>44</td>
                            <td>112</td>
                            <td>54½</td>
                            <td>140</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="image_2">
                <img src="../../img/GuidetailleBurda1.jpg" alt="">
            </div>
            <div class="section_2">
                <div class="section_2_image_1">
                    <img src="../../img/GuidetailleBurda1-Copy.jpg" alt="">
                </div>
                <div class="section_2_image_2">
                    <img src="../../img/GuidetailleBurda1.jpg" alt="">
                </div>
            </div>
        </section>
        <div class="main_detail">
            <div class="text_detail" id="text_detail_1">
                <div class="image_detail">
                    <img src="../../img/prise-de-mesure-couture-1509x1600-1.jpg.webp" alt="">
                </div>
                <div class="text">
                    <p>The Oberweite is in the future:
    
                        The tour de poitrine is the primordial pour:
    
                        The bust measurement determines the size for:
    
                        This is the case for you:</p>
                </div>
            </div>
            <div class="text_detail" id="text_detail_2">
                <div class="image_detail">
                    <img src="../../img/tumblr_7cde49d422f12e2b2f0abd281e8a1d69_87df1d32_1280.png" alt="">
                </div>
                <div class="text">
                    <p>The Hüftweite ist entscheidend for: Le tour des hanches est primordial pour:
    
                        The hips measurement determines the size for:
    
                        The reason behind this is that:</p>
                </div>
            </div>
        </div>
        <div class="main_detail_2">
            <h2>Experience the measurement methods we proudly bring to you, ensuring utmost accuracy and precision."</h2>
            <div class="wrapper" id="wrapper_1">
                <div class="image_main_detail" id="image_main_detail_1">
                    <img src="../../img/sg-ladies.png" alt="">
                </div>
                <div class="text_main1">
                    <h3> Measurements should be taken directly on your body.</h3> <br>
    
                    <b> 1 - CHEST </b><br>
                   <p> Measure your chest over the fullest part of your bust while wearing a bra that fits. </p><br>
    
                    <b>2 - BUST</b> <br>
                    <p>If you're shopping for a bra you should take another measurement directly under the bust.</p><br>
    
                    <b>3 - WAIST</b><br>
                    <p>Measure your waist at the narrowest point.</p><br>
    
                    <b> 4 - LOW HIP</b><br>
                    <p>Your hip measurement should be measured around the fullest part of your hips.</p><br>
    
                    <b> 5 - INNER LEG</b><br>
                    <p>Inner leg length is measured from the top of your inside leg down to the floor.</p><br>
    
                    <p>We always suggest you try on your purchase to ensure you’re happy with it!</p>
    
                    <div class="text_main1_1">
                        
                        <h3> We have updated our ladies' sizes</h3> <br>
                       <p> After hearing customer feedback, we have updated our sizes to have a more suitable sleeve, torso
                        length and leg inseam. We introduced these sizes as P sizes initially. However we will no longer
                        label these as P on the products. These improved measurements will be our standard sizes.</p><br>
    
                        <p>
                            For example: <br> 
                            S/P is S  <br> 
                            M/P is M  <br> 
                            34/P is 34  <br> 
                        </p>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="wrapper" id="wrapper_2">
    
                <div class="image_main_detail" id="image_main_detail_2">
                    <img src="../../img/Screenshot2024-10-18120252.png" alt="">
                </div>
                <div class="text_main2">
                    
                    <h3> How to measure</h3> <br>
                    <p><b> Bust: </b> Measure under your arms around the fullest part of your bust. <br></p>
                    <p><b>Waist: </b> Measure at the natural crease of your waist. <br></p>
                    <p><b>Hips: </b>Stand flat on the floor with your heels together. Measure around the fullest part of your <br></p>
                    <p>hips, approximately 8" below your waist. <br></p>
                    <p><b>Height: </b> Stand with your back against the wall, with your feet slightly apart. Measure from the</p>
                    <p>floor to the top of your head. <br></p>
                    
                    <div class="text_main2_1">
                        <h4>Height range</h4>
                        <table class="user-height-range-table">
                            <thead>
                                <tr>
                                    <th>Petite</th>
                                    <th>Average</th>
                                    <th>Tall</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>4' 11" – 5' 3"</td>
                                    <td>5' 3.5" – 5' 7.5"</td>
                                    <td>5' 8" – 5' 11"</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="note">Note: the above are body measurements, not finished garment measurements.</p>
                    </div>
                </div>
    
            </div>
        </div>
    </main>
</body>

</html>