<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News</title>
    <link rel="stylesheet" href="css/desktop.css" />
    <link rel="stylesheet" href="css/tablet.css" />
    <link rel="stylesheet" href="css/mobile.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>

  <body>
    <nav>
      <div class="logo-brand">
        <a href="../Homepage/homepage.html">
          <h2>Belle</h2>
        </a>
      </div>
      <ul class="menu">
        <li>
          <a href="../Category/category.html"  class="menu-desktop"
            ><i class="bi bi-search"></i></a
          >
        </li>
        <li>
          <a href="../Shopping_bag/shopping_bag.html" class="menu-desktop"
            ><i class="bi bi-bag-fill"></i></a
          >
        </li>
        <li>
          <a href="../Wishlist/wishlist.html"  class="menu-desktop"
            ><i class="bi bi-heart-fill"></i></a
          >
        </li>
        <li>
          <a href="../Account/account.html"  class="menu-desktop"
            ><i class="bi bi-person-circle"></i></a
          >
        </li>
        <li>
          <a href="" id="hamburger"
            ><i class="bi bi-list"></i></a
          >
        </li>
       
     </ul>
    </nav>
    <div class="category">
      <ul class="category-body">
        <li class="category-item">
          <a href="" class="category-link"
            >Men <i class="bi bi-caret-down"></i
          ></a>

          <ul class="dropdown-1">
            <li class="show-dropdown-2">
              <a href="">Clothing <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">T-Shirt</a></li>
                <li><a href="">Shirt</a></li>
                <li><a href="">Pants</a></li>
                <li><a href="">Jackets</a></li>
              </ul>
            </li>

            <li class="show-dropdown-2">
              <a href="">Shoes <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">Sneakers</a></li>
                <li><a href="">Formal Shoes</a></li>
                <li><a href="">Boots</a></li>
                <li><a href="">Sandals</a></li>
              </ul>
            </li>

            <li class="show-dropdown-2">
              <a href="">Accessories <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">Watches</a></li>
                <li><a href="">Belts</a></li>
                <li><a href="">Hats</a></li>
                <li><a href="">Sunglasses</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="category-item" id="category-women">
          <a href="" class="category-link"
            >Women <i class="bi bi-caret-down"></i
          ></a>

          <ul class="dropdown-1">
            <li class="show-dropdown-2">
              <a href="">Clothing <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">T-Shirt</a></li>
                <li><a href="">Shirt</a></li>
                <li><a href="">Pants</a></li>
                <li><a href="">Jackets</a></li>
              </ul>
            </li>

            <li class="show-dropdown-2">
              <a href="">Shoes <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">Sneakers</a></li>
                <li><a href="">Formal Shoes</a></li>
                <li><a href="">Boots</a></li>
                <li><a href="">Sandals</a></li>
              </ul>
            </li>

            <li class="show-dropdown-2">
              <a href="">Accessories <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">Watches</a></li>
                <li><a href="">Belts</a></li>
                <li><a href="">Hats</a></li>
                <li><a href="">Sunglasses</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="category-item" id="category-unisex">
          <a href="" class="category-link"
            >Unisex <i class="bi bi-caret-down"></i
          ></a>

          <ul class="dropdown-1">
            <li class="show-dropdown-2">
              <a href="">Clothing <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">T-Shirt</a></li>
                <li><a href="">Shirt</a></li>
                <li><a href="">Pants</a></li>
                <li><a href="">Jackets</a></li>
              </ul>
            </li>

            <li class="show-dropdown-2">
              <a href="">Shoes <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">Sneakers</a></li>
                <li><a href="">Formal Shoes</a></li>
                <li><a href="">Boots</a></li>
                <li><a href="">Sandals</a></li>
              </ul>
            </li>

            <li class="show-dropdown-2">
              <a href="">Accessories <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">Watches</a></li>
                <li><a href="">Belts</a></li>
                <li><a href="">Hats</a></li>
                <li><a href="">Sunglasses</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="category-item">
          <a href="../News/news.html" class="category-link">News</a>
        </li>
        <li class="category-item">
          <a href="" class="category-link">Best-selling</a>
        </li>
      </ul>
    </div>
    <section>
      <div class="main">
        <h1>PORTER</h1>
        <div class="container_main">
          <div class="img_container">
            <img src="../../img/m1.jpg" alt="" />
          </div>
          <div class="box_container">
            <h4>Cover story</h4>
            <h3>The Rosie Effect</h3>
            <h2>with Rosie Huntington-Whiteley</h2>
          </div>
          <div class="text_container">
            <h2>The Rosie Effect With Rosie Huntington-Whiteley</h2>
            <p>
              Supermodel-turned-entrepreneur and fashion mogul ROSIE
              HUNTINGTON-WHITELEY’s multi-hyphenate status has never felt more
              deserved. Here, she talks to OSMAN AHMED about her covetable
              collaboration with Wardrobe.NYC, forging her own path, family
              life, and why she no longer feels the need to prove herself
            </p>
            <div class="btn_Read_shop">
              <a href="../../Layout/NewsDetail/newsdetail.html">Read & shop</a>
            </div>
          </div>
        </div>
      </div>
      <div class="news_other">
        <div class="news_other_box" id="news_other_box1">
          <div class="img_news_other">
            <img src="../../img/m21.jpeg" alt="" />
          </div>
          <p>The Fashion Memo</p>
          <h4>How To ‘Fashion Girl’ Your Workwear</h4>
          <p>7 hrs ago</p>
        </div>
        <div class="news_other_box" id="news_other_box2">
          <div class="img_news_other">
            <img src="../../img/m23.jpg" alt="" />
          </div>
          <p>Jewelry Trends</p>
          <h4>Micro Diamonds Vs Jumbo Jewels: Which Style Would You Choose?</h4>
          <p>30 Sep '24</p>
        </div>
        <div class="news_other_box" id="news_other_box3">
          <div class="img_news_other">
            <img src="../../img/m24.jpg" alt="" />
          </div>
          <p>The Fashion Memo</p>
          <h4>5 Chic Updates To Revive Your Love Of Loungewear</h4>
          <p>7 hrs ago</p>
        </div>
        <div class="news_other_box" id="news_other_box4">
          <div class="img_news_other">
            <img src="../../img/m25.jpg" alt="" />
          </div>
          <p>The Fashion Memo</p>
          <h4>
            How To Plan A Dream Greek-Island Trip, According To The Experts
          </h4>
          <p>7 hrs ago</p>
        </div>
      </div>
      <div class="footer_text">
        <div class="text_header_footer">
          <h3>NEW-SEASON STYLE</h3>
          <p>
            Discover the key pieces and styling tricks to elevate your look now
          </p>
        </div>
        <div class="box_footer">
            <div class="box_content_footer" id="box-content_1">
              <img class="image_footer" src="../../img/m3.jpg" alt="" />
              <p>The Fashion Memo</p>
              <h4>5 Ways To Wear Burgundy</h4>
              <p>30 AUG ' 24</p>
            </div>
            <div class="box_content_footer" id="box-content_2">
              <img class="image_footer" src="../../img/m4.jpg" alt="" />
              <p>The Fashion Memo</p>
              <h4>How To Create A Capsule Wardrobe That Lasts</h4>
              <p>25 Sep '24</p>
            </div>
            <div class="box_content_footer" id="box-content_3">
              <img class="image_footer" src="../../img/m7.jpg" alt="" />
              <p>The Fashion Memo</p>
              <h4>FW24’s Key Trends And How To Wear Them Now</h4>
              <p>11 Sep '24</p>
            </div>
            <div class="box_content_footer" id="box-content_4">
              <img class="image_footer" src="../../img/m6.jpg" alt="" />
              <p>The Fashion Memo</p>
              <h4>The Midi Dresses With Maximum Style Mileage</h4>
              <p>03 Sep '24</p>
            </div>
          </div>
      </div>
    </section>
    

    
  </body>
</html>
