<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="css/desktop.css">
</head>

<body>
   <nav>
      <div class="logo-brand">
         <a href="">
            <h2>Belle</h2>
         </a>
      </div>
      <ul class="dropdown-1">
         <li><a href="">Login</a></li>
         <li><a href="">Sign Up</a></li>
      </ul>
   </nav>


   <div class="signup_wrapper">

      <div class="bg_fill">
         <img src="../../asset/img/login_img_bg.jpg" alt="">
      </div>
      <div class="signup_form_body">
         <h1>Login</h1>
         <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, voluptatum?</p>
         <br>
         <form action="../Homepage/." method="get">
            <label for="">Username: </label> <input type="text">
            <label for="">Email: </label> <input type="email">
            <label for="">Password: </label> <input type="password">
            <label for="">Confirm Password: </label> <input type="password">
            <label for="">Phone: </label><br>
            <select name="" id="">
               <option value="">(66+)</option>
               <option value="">(66+)</option>
               <option value="">(66+)</option>
               <option value="">(66+)</option>
               <option value="">(66+)</option>
            </select>
            <input type="tel" name="" id="phone">

            <!-- <input type="submit" value="Sign Up"> -->
            <div class="accept_terms_checkbox">
               <h3><input type="checkbox" name="" id="checkbox">Acceptance of Terms</h3>
               <p>You agree to comply with these terms and conditions, as well as any applicable laws and regulations.
               </p>
            </div>

            <input type="submit" value="Sign Up">
            <div class="login_link">
               <p>Already have an account <span><a href="../Login/login.html">Login!</a></span></p>
            </div>
         </form>
      </div>

   </div>

</body>

</html>
