<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Payment Step 2</title>
   <link rel="stylesheet" href="css/desktop.css">
   <link rel="stylesheet" href="css/mobile.css">
   <link rel="stylesheet" href="css/tablet.css">
   <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
</head>

<body>
   <nav>
      <div class="logo-brand">
        <a href="">
          <h2>Belle</h2>
        </a>
      </div>
      <ul class="menu">
         <li>
           <a href="../Shopping_bag/shopping_bag.html" class="menu-desktop"
             ><i class="bi bi-bag-fill"></i></a
           >
         </li>
         <li>
           <a href=""  class="menu-desktop"
             ><i class="bi bi-heart-fill"></i></a
           >
         </li>
         <li>
           <a href=""  class="menu-desktop"
             ><i class="bi bi-person-circle"></i></a
           >
         </li>
         <li>
           <a href="" id="hamburger"
             ><i class="bi bi-list"></i></a
           >
         </li>
        
      </ul>
    </nav>
    <div class="category">
      <ul class="category-body">
        <li class="category-item">
          <a href="" class="category-link"
            >Men <i class="bi bi-caret-down"></i
          ></a>

          <ul class="dropdown-1">
            <li class="show-dropdown-2">
              <a href="">Clothing <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">T-Shirt</a></li>
                <li><a href="">Shirt</a></li>
                <li><a href="">Pants</a></li>
                <li><a href="">Jackets</a></li>
              </ul>
            </li>

            <li class="show-dropdown-2">
              <a href="">Shoes <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">Sneakers</a></li>
                <li><a href="">Formal Shoes</a></li>
                <li><a href="">Boots</a></li>
                <li><a href="">Sandals</a></li>
              </ul>
            </li>

            <li class="show-dropdown-2">
              <a href="">Accessories <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">Watches</a></li>
                <li><a href="">Belts</a></li>
                <li><a href="">Hats</a></li>
                <li><a href="">Sunglasses</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="category-item" id="category-women">
          <a href="" class="category-link"
            >Women <i class="bi bi-caret-down"></i
          ></a>

          <ul class="dropdown-1">
            <li class="show-dropdown-2">
              <a href="">Clothing <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">T-Shirt</a></li>
                <li><a href="">Shirt</a></li>
                <li><a href="">Pants</a></li>
                <li><a href="">Jackets</a></li>
              </ul>
            </li>

            <li class="show-dropdown-2">
              <a href="">Shoes <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">Sneakers</a></li>
                <li><a href="">Formal Shoes</a></li>
                <li><a href="">Boots</a></li>
                <li><a href="">Sandals</a></li>
              </ul>
            </li>

            <li class="show-dropdown-2">
              <a href="">Accessories <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">Watches</a></li>
                <li><a href="">Belts</a></li>
                <li><a href="">Hats</a></li>
                <li><a href="">Sunglasses</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="category-item" id="category-unisex">
          <a href="" class="category-link"
            >Unisex <i class="bi bi-caret-down"></i
          ></a>

          <ul class="dropdown-1">
            <li class="show-dropdown-2">
              <a href="">Clothing <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">T-Shirt</a></li>
                <li><a href="">Shirt</a></li>
                <li><a href="">Pants</a></li>
                <li><a href="">Jackets</a></li>
              </ul>
            </li>

            <li class="show-dropdown-2">
              <a href="">Shoes <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">Sneakers</a></li>
                <li><a href="">Formal Shoes</a></li>
                <li><a href="">Boots</a></li>
                <li><a href="">Sandals</a></li>
              </ul>
            </li>

            <li class="show-dropdown-2">
              <a href="">Accessories <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">Watches</a></li>
                <li><a href="">Belts</a></li>
                <li><a href="">Hats</a></li>
                <li><a href="">Sunglasses</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="category-item">
          <a href="" class="category-link">News</a>
        </li>
        <li class="category-item">
          <a href="" class="category-link">Best-selling</a>
        </li>
      </ul>


    </div>

   <div class="breadcrumb">
      <ul class="breadcrumb_item">
         <li>Home</li>
         <li>Shopping Bag</li>
      </ul>
   </div>

   <div class="btn-back"><a href="">Back</a></div>
   <div class="container">
      <div class="payment">
         <h1>Payment</h1>
         <div class="step_wrapper">
            <div class="step1">
               <img src="../../img/icon/Check.png" alt="Checked for the first step">
               <h2>Step 1</h2>
               <p>Fill in your information</p>
            </div>
            <div class="step2">
               <h2>Step 2</h2>
               <p>Choose Payment Method</p>
            </div>
            <div class="step3">
               <h2>Step 3</h2>
               <p>Confirm Payment</p>
            </div>
         </div>
      </div>
   </div>

   <div class="payment_method">
      <h1>Payment Method</h1>
      <div class="credit_card">
         <input type="checkbox" id="credit_card_checkbox" checked>
         <h4>Credit Card</h4>
      </div>

      <!-- ทำให้ credit_card_check เป็น sibling ของ checkbox -->
      <div class="credit_card_check">
         <div class="name">
            <h4>Name on card</h4>
            <input type="text" placeholder="1234 1234 1234 1234">
         </div>

         <div class="num_card">
            <div class="card_num">
               <h4>Card number</h4>
               <input type="text">
            </div>
            <div class="cvv">
               <h4>CVV</h4>
               <input type="text" maxlength="4">
            </div>
            <div class="exp">
               <h4>Expire</h4>
               <input type="text">
            </div>
         </div>

         <div class="bill">
            <h4>Billing Address</h4>
            <textarea rows="10" cols="5"></textarea>
            <input type="checkbox" id="same_address">
            <label for="same_address"> Use the same Billing Address as the current address</label>
         </div>
      </div>
      <div class="bank">
         <input type="checkbox" id="bank">
         <h4>Bank Account</h4>
      </div>
      <div class="paypal">
         <input type="checkbox" id="checkbox">
         <h4>Paypal</h4>
      </div>
      <a href="" class="btn_link">Checkout</a>
   </div>


   <div class="payment_sum">

      <div class="payment_title">
         <h4>Payment</h4>
      </div>

      <div class="payment_sum_body">

         <div class="info">
            <h2>Information</h2>
            <p><strong>Name:</strong> Chaiyawat Sonachai</p>
            <p><strong>Email:</strong> chaiyawat@gmail.com</p>
            <p><strong>Tel:</strong> (66+) 92 707 3116</p>
            <p><strong>Address: </strong> Khon Kaen Mueang Khon Kean Sila 258/3 </p>

            <h4>Order ID: ABC987654321</h4>
         </div>

         <div class="order">

            <div class="product">
               <h2>List of product</h2>
               <p>2 Prices</p>
            </div>

            <div class="list">
               <p>1.T-Shirt White</p>
               <p>$24</p>
            </div>

            <div class="list">
               <p>1.T-Shirt Bright</p>
               <p>$15</p>
            </div>

            <div class="vat">
               <h2>VAT 7%</h2>
               <p>$9.46</p>
            </div>

            <div class="discount">
               <h2>Discount</h2>
               <p>$0</p>
            </div>

            <div class="total">
               <h2>Total Prices</h2>
               <p>$48.46</p>
            </div>
         </div>


      </div>

   </div>




   <footer>
      <div class="footer-info">
        <div class="footer-head">
          <h2>Belle</h2>
          <p>Always Beautiful</p>
        </div>
        <div class="Social-icon">
          <img src="../../img/icon/Facebook.svg" alt="icon Facebook" />
          <img src="../../img/icon/Google.svg" alt="icon Google" />
          <img src="../../img/icon/Gmail.svg" alt="icon Gmail" />
          <img src="../../img/icon/Instagram.svg" alt="icon Instagram" />
          <img src="../../img/icon/TikTok.svg" alt="icon TikTok" />
        </div>
        <div class="copyright">
          <h4>© 2024 Belle.com All Rights Reserved.</h4>
          <p>
            All content, including images, text, and designs, is the property of
            Belle.com and may not be reproduced or distributed without
            permission.
          </p>
        </div>
      </div>

      <div class="footer-menu">
        <ul class="footer-menu-link">
          <li>
            <h4>Category</h4>
          </li>
          <li><a href="">Women</a></li>
          <li><a href="">Men</a></li>
          <li><a href="">Unisex</a></li>
          <li><a href="">Shoes</a></li>
          <li><a href="">Accessories</a></li>
        </ul>
        <ul class="footer-menu-link">
          <li>
            <h4>Account</h4>
          </li>
          <li><a href="">Setting</a></li>
          <li><a href="">Order Tracking</a></li>
          <li><a href="">Return</a></li>
        </ul>
        <ul class="footer-menu-link">
          <li>
            <h4>News & Promotion</h4>
          </li>
          <li><a href="">New Collection 2024</a></li>
          <li><a href="">Best Selling 2024</a></li>
          <li><a href="">News</a></li>
        </ul>
        <ul class="footer-menu-link">
          <li>
            <h4>Help Center</h4>
          </li>
          <li><a href="">FAQ+</a></li>
          <li><a href="">Live Chat</a></li>
          <li><a href="">Contact Us</a></li>
        </ul>
      </div>
    </footer>

</body>

</html>
