@import url(../../../component/body/fonts.css);
@import url(../../../component/body/style.css);
@import url(../../../component/navbar/navbar.css);
@import url(../../../component/footer/footer.css);
@import url(../../../component/bread_crump/bread_crump.css);

/* responsive */
@import url(mobile.css);
@import url(tablet.css);
.payment h1 {
  text-align: center;
}
.step_wrapper {
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  gap: 5rem;
  text-align: center;
  justify-content: space-between;
  align-items: baseline;
}

.payment_method {
  width: 30%;
  float: right;
  padding: 0 1rem;
  margin-right: 6%;
}
.payment_method h1 {
   margin-top: 0;
}

.credit_card {
  border-radius: 12px;
  display: flex;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #014197;
}

.credit_card h4 {
  margin: 0;
  margin-left: 1rem;
  color: #fff;
  font-size: 1.5rem;
}

.credit_card input {
  transform: scale(1.8);
}


.name input,
.num_card input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 12px;
  border: 1px solid #000;
  font-size: 1rem;
}

.num_card {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
}

.card_num {
  width: 40%;
}
.card_num input {
  width: 100%;
}

.cvv {
  width: 20%;
}
.cvv input {
  width: 100%;
}

.exp {
  width: 20%;
}

.exp input {
  width: 100%;
}

.bill textarea {
  width: 100%;
}

.payment_sum {
  float: left;
  width: 50%;
  margin-left: 6%;
  border: 2px solid #000;
  border-radius: 12px;
  /* padding: 1rem; */
}

.payment_sum_body {
  display: flex;
  justify-content: space-between;
}

.order {
  display: inline;
  width: 50%;
}

.product,
.list,
.vat,
.discount,
.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.payment_title h4 {
  margin: 0;
}
.payment_title {
  border-bottom: 2px solid #000;
  padding: 1rem;
  border-radius: 10px 10px 0 0;
  background-color: #add8e6;
}

.info {
  margin-left: 1rem;
  width: 50%;
  border-right: 2px solid #000;
}

.order {
  margin-right: 1rem;
  margin-left: 1rem;
}

.list p {
  margin: 0 0 0 1rem;
}


.card_wrapper {
   display: flex;
   width: 60%;
   margin-bottom: 2rem;

 }
 .card_img {
   width: 40%;
 }

 .card_info {
   margin-left: 2rem;
   width: 60%;

 }
 .color, .size,.quantity {
   margin-top: .5rem;
 }
 .color, .size, .quantity {
   display: flex;
   align-items: baseline;
   justify-content: space-between;
 }
 .quantity {
   margin-top: 2rem;
   justify-content: start;
   gap: 1rem;
 }

 .color select, .size select{
   width: 85%;
   appearance:none;
   padding: .5rem;
   box-sizing: border-box;
   border-radius: 12px;
   margin-top: .5rem
 }


 .prices {
   /* width: 50%; */
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1rem;
}
.price {
   display: flex;
   gap: 1rem;

}
.sales{
   padding: 0 .5rem;
   background-color: #0e6eb3;
   border-radius: 12px;
   color: #fff;
}

.before_sale {
   text-decoration: line-through;
}

.after_sale {
   color: #0e6eb3;
   font-weight: bold;
}
