@import url(../../../component/body/fonts.css);
@import url(../../../component/body/style.css);
@import url(../../../component/navbar/navbar.css);
@import url(../../../component/footer/footer.css);
@import url(../../../component/bread_crump/bread_crump.css);

/* responsive */
@import url(mobile.css);
@import url(tablet.css);


section {
   margin: 0 5em;
}

.user {
   float: left;
   width: 40%;
   padding: 1em;
   border-radius: 5px;
   margin-bottom: 5em;
   background-color: #0139b0;
   color: #fff;
   text-align: center;
}

.menu-acc {
   margin-left: 70%;
   border: 1px solid #014197;
   padding: 1em;
   border-radius: 5px;
   color: #000;
}

.menu-acc ul {
   list-style-type: none;
   padding: 0;
}

.menu-acc a {
   color: #000;
   text-decoration: none;
   display: block;
   padding: .5em;
}