<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="css/desktop.css">
</head>

<body>
   <nav>
      <div class="logo-brand">
         <a href="">
            <h2>Belle</h2>
         </a>
      </div>
      <ul class="dropdown-1">
         <li><a href="">Home</a></li>
         <li><a href="">Category</a>

            <ul class="dropdown-2">
               <li><a href="">Women</a>

                  <ul class="dropdown-3">
                     <li><a href="">Show All</a></li>
                     <li><a href="">Tops</a></li>
                     <li><a href="">Coats</a></li>
                     <li><a href="">Dress</a></li>
                     <li><a href="">Jeans</a></li>
                  </ul>
               </li>
               <li><a href="">Men</a>
                  <ul class="dropdown-3" id="men-menu">
                     <li><a href="">Show All</a></li>
                     <li><a href="">Tops</a></li>
                     <li><a href="">Coats</a></li>
                     <li><a href="">Dress</a></li>
                     <li><a href="">Jeans</a></li>
                  </ul>
               </li>
               <li><a href="">Unisex</a>
                  <ul class="dropdown-3" id="unisex-menu">
                     <li><a href="">Show All</a></li>
                     <li><a href="">Tops</a></li>
                     <li><a href="">Coats</a></li>
                     <li><a href="">Dress</a></li>
                     <li><a href="">Jeans</a></li>
                  </ul>
               </li>
               <li><a href="">Shoes</a>
                  <ul class="dropdown-3" id="shoes-menu">
                     <li><a href="">Show All</a></li>
                     <li><a href="">Tops</a></li>
                     <li><a href="">Coats</a></li>
                     <li><a href="">Dress</a></li>
                     <li><a href="">Jeans</a></li>
                  </ul>
               </li>
               <li><a href="">Accessories</a>
                  <ul class="dropdown-3" id="acc-menu">
                     <li><a href="">Show All</a></li>
                     <li><a href="">Tops</a></li>
                     <li><a href="">Coats</a></li>
                     <li><a href="">Dress</a></li>
                     <li><a href="">Jeans</a></li>
                  </ul>
               </li>
            </ul>
         </li>
         <li><a href="">Shopping bags</a></li>
         <li><a href="">Wishlist</a></li>
         <li><a href="">Account</a></li>
      </ul>
   </nav>


   <section>
      <div class="container">
         <div class="heading">
            <h1>Belle.</h1>
            <p>Welcome to our website! We're thrilled to have you here. Explore our diverse collection of
               stylish and trendy clothing that suits all occasions. Whether you're looking for something casual,
               formal, or in between, we've got you covered. Enjoy shopping with us!
            </p>
            <div class="img_head">
               <h2>New Collection Arrival</h2>
               <a href="">Take a look</a>
               <img src="../../img/pic_homepage_head.jpg" alt="picture_adv">
            </div>
         </div>


         <div class="card-container">
            <div class="card">
               <div class="card-hover">
                  <img src="/img/pic_card_5.jpg" alt="" class="image_on">
                  <img src="/img/pic_card_5-hov.jpg" alt="" class="image_off">
               </div>
               <h2>Elysian Breeze Dress</h2>
               <p>
                  The fabric is soft and breathable, ensuring comfort with every
                  movement.</p>
               <div class="prices">
                  <div class="price">
                     <p class="before_sale">508$</p>
                     <p class="after_sale">406.4$</p>
                  </div>
                  <p class="sales">Sale 20%</p>
               </div>
               <div class="card_info">
                  <p class="size"><strong>Size: </strong><small>S,M,L,XL</small></p>
                  <p class="color"><strong>Color: </strong><small>More Colors</small></p>
               </div>
               <a href="" class="btn-add">Add to bag</a> <br>
               <a href="" class="btn-wish">Add to Wishlist</a>
            </div>

            <div class="card">
               <div class="card-hover">
                  <img src="/img/pic_card_new.jpg" alt="" class="image_on">
                  <img src="/img/pic_card_new_hover.jpg" alt="" class="image_off">
               </div>
               <h2>Fitted T-shirt</h2>
               <p>Offering a snug yet comfortable fit that
                  highlights the wearer's shape.</p>
               <div class="prices">
                  <div class="price">
                     <p>33$</p>
                     <!-- <p class="before_sale">508$</p>
                     <p class="after_sale">406.4$</p> -->
                  </div>
                  <!-- <p  class="sales">Sale 20%</p> -->
               </div>
               <div class="card_info">
                  <p class="size"><strong>Size: </strong><small>M,L,XL</small></p>
                  <p class="color"><strong>Color: </strong><small>More Colors</small></p>
               </div>
               <a href="" class="btn-add">Add to bag</a> <br>
               <a href="" class="btn-wish">Add to Wishlist</a>
            </div>

            <div class="text_intro">
               <h2>Collection 2024: Spring Coming</h2>
               <p><strong>Designed by:</strong> Lana Vesper</p>
               <div class="tags">
                  <ul>
                     <li>Women</li>
                     <li>New Arrival 2024</li>
                  </ul>
               </div>
               <p>brings a perfect blend of comfort, charm, and brightness. Each piece is designed to be effortlessly
                  versatile, making it suitable for any occasion while radiating a playful and feminine energy. The
                  collection embraces soft fabrics and vibrant colors, offering a refreshing style that is both cute and
                  sophisticated, perfect for the modern woman who values both comfort and elegance.</p>

               <!-- <img src="../../img/intro_img_1.jpg" alt="img" class="img_intro"> -->
               <a href="" class="btn-link">See This Collection</a>
            </div>




         </div>
         <section>
            <div class="gallery_wrapper">
               <div class="gallery_img">
                  <img src="../../img/section_gallery_img_1.jpg" alt="">
                  <img src="../../img/section_gallery_img_2.jpg" alt="">
                  <img src="../../img/section_gallery_img_3.jpg" alt="">
               </div>
               <h2>Gallery Fashion</h2>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt et quo fugit eveniet a. Eveniet
                  et quae illum, aliquid tempora fugit blanditiis similique nisi, voluptatem voluptas beatae
                  molestias commodi aspernatur eius minus! Facilis quaerat recusandae nesciunt quos earum incidunt,
                  velit similique, architecto, atque cum dolores totam repudiandae reprehenderit quas deleniti minima
                  laboriosam? Atque dolore consequatur ducimus, doloremque, ipsum iusto voluptates quos sapiente,
                  cumque fugit rerum molestiae? Obcaecati optio veniam ab nulla minus officia distinctio sunt
                  excepturi blanditiis, architecto doloribus autem alias voluptatem qui, adipisci quo corrupti
                  ducimus tenetur nobis libero labore! Culpa, eveniet tempora. Aliquam, neque quidem eligendi dolorem
                  expedita ducimus dolor qui illo rem eius harum assumenda labore dolore illum doloribus dolorum
                  repellat eos laudantium voluptatum nemo. Animi sapiente inventore reprehenderit nobis molestias rem
                  eum, quaerat quibusdam autem alias? Corrupti facere ex magni praesentium quaerat reprehenderit ab
                  consequatur tenetur.</p>
            </div>
         </section>




      </div>
   </section>





   <footer>

      <div class="footer-info">
         <div class="footer-head">
            <h2>Belle</h2>
            <p>Always Beautiful</p>
         </div>
         <div class="Social-icon">
            <img src="/img/icon/Facebook.svg" alt="">
            <img src="/img/icon/Google.svg" alt="">
            <img src="/img/icon/Gmail.svg" alt="">
            <img src="/img/icon/Instagram.svg" alt="">
            <img src="/img/icon/TikTok.svg" alt="">
         </div>
         <div class="copyright">
            <h4>© 2024 Belle.com All Rights Reserved.</h4>
            <p>All content, including images, text, and designs, is the property of Belle.com and may not be reproduced
               or distributed without permission.</p>
         </div>
      </div>

      <div class="footer-menu">
         <ul class="footer-menu-link">
            <li>
               <h4>Category</h4>
            </li>
            <li>Women</li>
            <li>Men</li>
            <li>Unisex</li>
            <li>Shoes</li>
            <li>Accessories</li>
         </ul>
         <ul class="footer-menu-link">
            <li>
               <h4>Account</h4>
            </li>
            <li>Setting</li>
            <li>Order Tracking</li>
            <li>Return</li>
         </ul>
         <ul class="footer-menu-link">
            <li>
               <h4>News & Promotion</h4>
            </li>
            <li>New Collection 2024</li>
            <li>Best Selling 2024</li>
            <li>News</li>
         </ul>
         <ul class="footer-menu-link">
            <li>
               <h4>Help Center</h4>
            </li>
            <li>FAQ+</li>
            <li>Live Chat</li>
            <li>Contact Us</li>
         </ul>
      </div>
   </footer>

</body>

</html>
