<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Homepage</title>
   <link rel="stylesheet" href="css/desktop.css">
   <link rel="stylesheet" href="css/mobile.css">
   <link rel="stylesheet" href="css/tablet.css">
   <script type="module" src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/grid.js"></script>
   <link type="text/css" rel="stylesheet" href="css/lightslider.css">
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
   <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
</head>

<body>

   <!-- <div class="loading_wrapper">
      <l-grid size="60" speed="1.5" color="black"></l-grid>
   </div> -->

   <nav>

      <div class="logo-brand">
         <a href="">
            <h2>Belle</h2>
         </a>
      </div>
      <ul class="dropdown-1">

         <li><a href="">Category</a>

            <ul class="dropdown-2">
               <li><a href="">Women</a>

                  <ul class="dropdown-3">
                     <li><a href="">Show All</a></li>
                     <li><a href="">Tops</a></li>
                     <li><a href="">Coats</a></li>
                     <li><a href="">Dress</a></li>
                     <li><a href="">Jeans</a></li>
                  </ul>
               </li>
               <li><a href="">Men</a>
                  <ul class="dropdown-3" id="men-menu">
                     <li><a href="">Show All</a></li>
                     <li><a href="">Tops</a></li>
                     <li><a href="">Coats</a></li>
                     <li><a href="">Dress</a></li>
                     <li><a href="">Jeans</a></li>
                  </ul>
               </li>
               <li><a href="">Unisex</a>
                  <ul class="dropdown-3" id="unisex-menu">
                     <li><a href="">Show All</a></li>
                     <li><a href="">Tops</a></li>
                     <li><a href="">Coats</a></li>
                     <li><a href="">Dress</a></li>
                     <li><a href="">Jeans</a></li>
                  </ul>
               </li>
               <li><a href="">Shoes</a>
                  <ul class="dropdown-3" id="shoes-menu">
                     <li><a href="">Show All</a></li>
                     <li><a href="">Tops</a></li>
                     <li><a href="">Coats</a></li>
                     <li><a href="">Dress</a></li>
                     <li><a href="">Jeans</a></li>
                  </ul>
               </li>
               <li><a href="">Accessories</a>
                  <ul class="dropdown-3" id="acc-menu">
                     <li><a href="">Show All</a></li>
                     <li><a href="">Tops</a></li>
                     <li><a href="">Coats</a></li>
                     <li><a href="">Dress</a></li>
                     <li><a href="">Jeans</a></li>
                  </ul>
               </li>
            </ul>
         </li>
         <li><a href=""><span class="material-symbols-outlined">
                  local_mall
               </span></a></li>
         <li><a href=""><span class="material-symbols-outlined">
                  favorite
               </span></a></li>
         <li><a href=""><span class="material-symbols-outlined">
                  account_circle
               </span></a></li>
      </ul>

   </nav>
   <div class="second_navbar">
      <ul>
         <li><a href="">Women</a></li>
         <li><a href="">Men</a></li>
         <li><a href="">Unisex</a></li>
         <li><a href="">Shoes</a></li>
         <li><a href="">Accessories</a></li>
         <li><a href="">Best Selling</a></li>
         <li><a href="">New Arrival</a></li>
         <li><a href="">News</a></li>
      </ul>
   </div>



   <section>
      <div class="container">
         <div class="heading">

            <div class="heading_text">
               <h1>Belle</h1>
               <h4>Elegance in Every Detail.</h4>
               <p>Welcome to our website! We're thrilled to have you here. Explore our diverse collection of
                  stylish and trendy clothing that suits all occasions. Whether you're looking for something casual,
                  formal, or in between, we've got you covered. Enjoy shopping with us!
               </p>
            </div>
            <div class="img_head">
               <h2>New Collection Arrival</h2>
               <a href="">See This Collection</a>
               <img src="../../img/pic_homepage_head.jpg" alt="picture_adv">
            </div>
         </div>


         <div class="card-container">
            <div class="card">
               <div class="card-hover">
                  <img src="/img/pic_card_5.jpg" alt="image_card" class="image_on">
                  <img src="/img/pic_card_5-hov.jpg" alt="image_card_cloth" class="image_off">
               </div>
               <h2>Elysian Breeze Dress</h2>
               <p>
                  The fabric is soft and breathable, ensuring comfort with every
                  movement.</p>
               <div class="prices">
                  <div class="price">
                     <p class="before_sale">508$</p>
                     <p class="after_sale">406.4$</p>
                  </div>
                  <p class="sales">Sale 20%</p>
               </div>
               <div class="card_info">
                  <p class="size"><strong>Size: </strong><small>S,M,L,XL</small></p>
                  <p class="color"><strong>Color: </strong><small>More Colors</small></p>
               </div>
               <a href="" class="btn-add">Add to bag</a> <br>
               <a href="" class="btn-wish">Add to Wishlist</a>
            </div>

            <div class="card">
               <div class="card-hover">
                  <img src="/img/pic_card_6.jpg" alt="image_card" class="image_on">
                  <img src="/img/pic_card_6-hov.jpg" alt="image_card_cloth" class="image_off">
               </div>
               <h2>Elysian Breeze Dress</h2>
               <p>
                  The fabric is soft and breathable, ensuring comfort with every
                  movement.</p>
               <div class="prices">
                  <div class="price">
                     <p class="before_sale">508$</p>
                     <p class="after_sale">406.4$</p>
                  </div>
                  <p class="sales">Sale 20%</p>
               </div>
               <div class="card_info">
                  <p class="size"><strong>Size: </strong><small>S,M,L,XL</small></p>
                  <p class="color"><strong>Color: </strong><small>More Colors</small></p>
               </div>
               <a href="" class="btn-add">Add to bag</a> <br>
               <a href="" class="btn-wish">Add to Wishlist</a>
            </div>

            <div class="card">
               <div class="card-hover">
                  <img src="/img/pic_card_new.jpg" alt="image_card" class="image_on">
                  <img src="/img/pic_card_new_hover.jpg" alt="image_card_cloth" class="image_off">
               </div>
               <h2>Fitted T-shirt</h2>
               <p>Offering a snug yet comfortable fit that
                  highlights the wearer's shape.</p>
               <div class="prices">
                  <div class="price">
                     <p>33$</p>
                     <!-- <p class="before_sale">508$</p>
                     <p class="after_sale">406.4$</p> -->
                  </div>
                  <!-- <p  class="sales">Sale 20%</p> -->
               </div>
               <div class="card_info">
                  <p class="size"><strong>Size: </strong><small>M,L,XL</small></p>
                  <p class="color"><strong>Color: </strong><small>More Colors</small></p>
               </div>
               <a href="" class="btn-add">Add to bag</a> <br>
               <a href="" class="btn-wish">Add to Wishlist</a>
            </div>




         </div>
         <!-- <div class="bg_section"></div> -->

         <div class="text_section">

            <div class="img_text_intro">
               <img src="../../img/intro_img_2.jpg" alt="image_section">
            </div>

            <div class="text_intro">
               <h2>Collection 2024: Spring Coming</h2>
               <p><strong>Designed by:</strong> Lana Vesper</p>
               <div class="tags">
                  <ul>
                     <li>Women</li>
                     <li>New Arrival 2024</li>
                  </ul>
               </div>
               <p>brings a perfect blend of comfort, charm, and brightness. Each piece is designed to be effortlessly
                  versatile, making it suitable for any occasion while radiating a playful and feminine energy. The
                  collection embraces soft fabrics and vibrant colors, offering a refreshing style that is both cute and
                  sophisticated, perfect for the modern woman who values both comfort and elegance.</p>
               <a href="" class="btn-link">See This Collection</a>

            </div>

         </div>
         <section>
            <div class="adv_wrapper">
               <div class="vid_adv">
                  <video src="../../vid/1000-2x3-women-startpage-wk37_6135805.mp4" autoplay controls muted loop></video>
               </div>
               <div class="adv_text">
                  <h2>MODERN UTILITY</h2>
                  <p>Step into a new era of style with MODERN UTILITY, where fashion meets function. Our clothing is
                     designed for the active, on-the-go individual who values both comfort and versatility. Crafted
                     with
                     high-quality materials, each piece is built to last and adapt to any situation – whether you’re
                     at
                     work, exploring the outdoors, or enjoying a casual weekend.</p>
                  <a href="" class="btn-shop">Shop now</a>
                  <div class="adv_img">
                     <img src="../../img/section_gallery_img_4.jpg" alt="gallery first collection">
                     <img src="../../img/section_gallery_img_6.jpg" alt="gallery first collection">
                     <img src="../../img/section_gallery_img_8.jpg" alt="gallery first collection">
                  </div>
               </div>
            </div>
         </section>
         <div class="slideshow-container">

            <div class="mySlides fade">
               <div class="numbertext">1 / 3</div>
               <div class="image_container">
                  <img src="../../img/men_shirt_3.jpg" alt="gallery page1 collection">
                  <img src="../../img/men_shirt_2.jpg" alt="gallery page1 collection">
                  <img src="../../img/men_shirt_1.jpg" alt="gallery page1 collection">
               </div>

            </div>

            <div class="mySlides fade">
               <div class="numbertext">2 / 3</div>
               <div class="image_container">
                  <img src="../../img/pic_card_1.jpg" alt="gallery page2 collection">
                  <img src="../../img/pic_card_4.jpg" alt="gallery page2 collection">
                  <img src="../../img/pic_card_2.jpg" alt="gallery page2 collection">
               </div>

            </div>

            <div class="mySlides fade">
               <div class="numbertext">3 / 3</div>
               <div class="image_container">
                  <img src="../../img/section_gallery_img_2.jpg" alt="gallery page3 collection">
                  <img src="../../img/section_gallery_img_4.jpg" alt="gallery page3 collection">
                  <img src="../../img/section_gallery_img_8.jpg" alt="gallery page3 collection">
               </div>

            </div>

            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>

         </div>
         <br>

         <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
         </div>
         <div class="box1">
            <h2>New Arrival September 2024</h2>
            <p>As the seasons change, so does the fashion landscape. This September, we are excited to unveil our
               latest
               collection, crafted with the modern wardrobe in mind. Our new arrivals reflect a perfect blend of
               classic
               design and contemporary innovation, offering something for everyone who seeks both comfort and
               sophistication in their attire.

            </p>
         </div>
         <div class="paragraph">

            <div class="box">

               <h4 class="text_col">Elevated Basics, Reimagined</h4>
               <p>This season, we’ve focused on creating elevated essentials that redefine the meaning of everyday wear.
                  From
                  sleek blazers and tailored trousers to soft knitwear and versatile tops, each piece has been
                  meticulously
                  designed to provide effortless style for any occasion. Whether you’re dressing up for work, a casual
                  outing,
                  or an evening event, our collection has something to suit your needs.</p>
            </div>
            <div class="box">

               <h4 class="text_col">Bold Colors, Neutral Tones</h4>
               <p>Embrace the latest color trends with our rich, autumnal palette. Think deep burgundy, warm mustard,
                  and
                  rich
                  forest green, perfectly balanced with timeless neutral shades like beige, charcoal, and off-white.
                  These
                  versatile hues are ideal for layering and will seamlessly transition your wardrobe from late summer to
                  fall.
               </p>
            </div>
            <div class="box">

               <h4 class="text_col">Unisex Styles for Everyone</h4>
               <p>In keeping with our commitment to inclusivity, we’re proud to offer an expanded range of unisex
                  clothing.
                  These versatile pieces blur the lines between traditional men’s and women’s fashion, ensuring that
                  everyone
                  can enjoy the comfort and style of our latest designs. With unisex tees, sweaters, and outerwear,
                  you’ll
                  find wardrobe staples that can be styled in endless ways, regardless of gender.
               </p>
            </div>
         </div>







      </div>
   </section>





   <footer>

      <div class="footer-info">
         <div class="footer-head">
            <h2>Belle</h2>
            <p>Always Beautiful</p>
         </div>
         <div class="Social-icon">
            <img src="/img/icon/Facebook.svg" alt="icon Facebook">
            <img src="/img/icon/Google.svg" alt="icon Google">
            <img src="/img/icon/Gmail.svg" alt="icon Gmail">
            <img src="/img/icon/Instagram.svg" alt="icon Instagram">
            <img src="/img/icon/TikTok.svg" alt="icon TikTok">
         </div>
         <div class="copyright">
            <h4>© 2024 Belle.com All Rights Reserved.</h4>
            <p>All content, including images, text, and designs, is the property of Belle.com and may not be reproduced
               or distributed without permission.</p>
         </div>
      </div>

      <div class="footer-menu">
         <ul class="footer-menu-link">
            <li>
               <h4>Category</h4>
            </li>
            <li>Women</li>
            <li>Men</li>
            <li>Unisex</li>
            <li>Shoes</li>
            <li>Accessories</li>
         </ul>
         <ul class="footer-menu-link">
            <li>
               <h4>Account</h4>
            </li>
            <li>Setting</li>
            <li>Order Tracking</li>
            <li>Return</li>
         </ul>
         <ul class="footer-menu-link">
            <li>
               <h4>News & Promotion</h4>
            </li>
            <li>New Collection 2024</li>
            <li>Best Selling 2024</li>
            <li>News</li>
         </ul>
         <ul class="footer-menu-link">
            <li>
               <h4>Help Center</h4>
            </li>
            <li>FAQ+</li>
            <li>Live Chat</li>
            <li>Contact Us</li>
         </ul>
      </div>
   </footer>



   <script>
      window.addEventListener("load", () => {
         const loader = document.querySelector(".loading_wrapper");

         // Delay เป็นเวลา 3 วินาที (3000 milliseconds) ก่อนจะซ่อน loader
         setTimeout(() => {
            loader.classList.add("loading--hidden");
            window.scrollTo(0, 0);

            loader.addEventListener("transitionend", (event) => {
               if (event.propertyName === "opacity") {
                  document.body.removeChild(loader);
               }
            });
         }, 2000);  // 3000ms = 3 วินาที

      });




   </script>

   <!-- <script>
      let slideIndex = 1;
      showSlides(slideIndex);

      function plusSlides(n) {
         showSlides(slideIndex += n);
      }

      function currentSlide(n) {
         showSlides(slideIndex = n);
      }

      function showSlides(n) {
         let i;
         let slides = document.getElementsByClassName("mySlides");
         let dots = document.getElementsByClassName("dot");
         if (n > slides.length) { slideIndex = 1 }
         if (n < 1) { slideIndex = slides.length }
         for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
         }
         for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
         }
         slides[slideIndex - 1].style.display = "block";
         dots[slideIndex - 1].className += " active";
      }
   </script> -->
   <script>
      let slideIndex = 1;
      showSlides(slideIndex);

      function plusSlides(n) {
         showSlides(slideIndex += n);
      }

      function currentSlide(n) {
         showSlides(slideIndex = n);
      }

      function showSlides(n) {
         let slides = document.getElementsByClassName("mySlides");
         let dots = document.getElementsByClassName("dot");

         if (n > slides.length) { slideIndex = 1 }
         if (n < 1) { slideIndex = slides.length }

         for (let i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
         }

         for (let i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
         }

         slides[slideIndex - 1].style.display = "block";
         dots[slideIndex - 1].className += " active";
      }

   </script>
</body>

</html>
