<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Address Setting Edit</title>
   <link rel="stylesheet" href="css/desktop.css">
   <link rel="stylesheet" href="css/tablet.css">
   <link rel="stylesheet" href="css/mobile.css">
   <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
</head>

<body>


   <nav>
      <div class="logo-brand">
        <a href="../Homepage/homepage.html">
          <h2>Belle</h2>
        </a>
      </div>
      <ul class="menu">
        <li>
          <a href="../Category/category.html"  class="menu-desktop"
            ><i class="bi bi-search"></i></a
          >
        </li>
        <li>
          <a href="../Shopping_bag/shopping_bag.html" class="menu-desktop"
            ><i class="bi bi-bag-fill"></i></a
          >
        </li>
        <li>
          <a href="../Wishlist/wishlist.html"  class="menu-desktop"
            ><i class="bi bi-heart-fill"></i></a
          >
        </li>
        <li>
          <a href="../Account/account.html"  class="menu-desktop"
            ><i class="bi bi-person-circle"></i></a
          >
        </li>
        <li>
          <a href="" id="hamburger"
            ><i class="bi bi-list"></i></a
          >
        </li>
       
     </ul>
    </nav>
    <div class="category">
      <ul class="category-body">
        <li class="category-item">
          <a href="" class="category-link"
            >Men <i class="bi bi-caret-down"></i
          ></a>

          <ul class="dropdown-1">
            <li class="show-dropdown-2">
              <a href="">Clothing <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">T-Shirt</a></li>
                <li><a href="">Shirt</a></li>
                <li><a href="">Pants</a></li>
                <li><a href="">Jackets</a></li>
              </ul>
            </li>

            <li class="show-dropdown-2">
              <a href="">Shoes <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">Sneakers</a></li>
                <li><a href="">Formal Shoes</a></li>
                <li><a href="">Boots</a></li>
                <li><a href="">Sandals</a></li>
              </ul>
            </li>

            <li class="show-dropdown-2">
              <a href="">Accessories <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">Watches</a></li>
                <li><a href="">Belts</a></li>
                <li><a href="">Hats</a></li>
                <li><a href="">Sunglasses</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="category-item" id="category-women">
          <a href="" class="category-link"
            >Women <i class="bi bi-caret-down"></i
          ></a>

          <ul class="dropdown-1">
            <li class="show-dropdown-2">
              <a href="">Clothing <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">T-Shirt</a></li>
                <li><a href="">Shirt</a></li>
                <li><a href="">Pants</a></li>
                <li><a href="">Jackets</a></li>
              </ul>
            </li>

            <li class="show-dropdown-2">
              <a href="">Shoes <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">Sneakers</a></li>
                <li><a href="">Formal Shoes</a></li>
                <li><a href="">Boots</a></li>
                <li><a href="">Sandals</a></li>
              </ul>
            </li>

            <li class="show-dropdown-2">
              <a href="">Accessories <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">Watches</a></li>
                <li><a href="">Belts</a></li>
                <li><a href="">Hats</a></li>
                <li><a href="">Sunglasses</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="category-item" id="category-unisex">
          <a href="" class="category-link"
            >Unisex <i class="bi bi-caret-down"></i
          ></a>

          <ul class="dropdown-1">
            <li class="show-dropdown-2">
              <a href="">Clothing <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">T-Shirt</a></li>
                <li><a href="">Shirt</a></li>
                <li><a href="">Pants</a></li>
                <li><a href="">Jackets</a></li>
              </ul>
            </li>

            <li class="show-dropdown-2">
              <a href="">Shoes <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">Sneakers</a></li>
                <li><a href="">Formal Shoes</a></li>
                <li><a href="">Boots</a></li>
                <li><a href="">Sandals</a></li>
              </ul>
            </li>

            <li class="show-dropdown-2">
              <a href="">Accessories <i class="bi bi-caret-right"></i></a>

              <ul class="dropdown-2">
                <li><a href="">Watches</a></li>
                <li><a href="">Belts</a></li>
                <li><a href="">Hats</a></li>
                <li><a href="">Sunglasses</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="category-item">
          <a href="../News/news.html" class="category-link">News</a>
        </li>
        <li class="category-item">
          <a href="" class="category-link">Best-selling</a>
        </li>
      </ul>


    </div>
   <div class="breadcrumb">
      <ul class="breadcrumb_item">
         <li>Home</li>
         <li>Shopping Bag</li>
      </ul>
   </div>

   <div class="btn-back"><a href="">Back</a></div>

   <div class="container">

      <h1>Address Setting Edit</h1>
      <form action="../Address_setting/address_setting.html" method="get" class="form_addr">

         <div class="name_setting">
            <label for="name_setting">Name Address Setting: </label>
            <input type="text" name="name_setting" id="name_setting">
         </div>
         <div class="name">
            <div class="fname">
               <label for="name">Name:</label>
               <input type="text" name="name" id="name">
            </div>
            <div class="lname">
               <label for="sname">Surname:</label>
               <input type="text" name="sname" id="sname">
            </div>
         </div>
         <div class="addr">
            <label for="addr">Address:</label> <br>
            <textarea name="addr" id="addr" rows="20" cols="10">

            </textarea>
         </div>
         <div class="info">
            <div class="province">
               <label for="province">Provide:</label>
               <input type="text" name="province" id="province">
            </div>
            <div class="district">
               <label for="district">District:</label>
               <input type="text" name="district" id="district">
            </div>
         </div>
         <div class="info">
            <div class="post_code">
               <label for="post_code">Post Code:</label>
               <input type="text" name="post_code" id="post_code">
            </div>
            <div class="city">
               <label for="city">City:</label>
               <input type="text" name="city" id="city">
            </div>
         </div>
         <div class="phone">
            <label for="code">Phone:</label>
            <div class="phone_form">
               <div class="code">
                  <input type="text" name="code" id="code">
               </div>
               <input type="tel" name="tel" id="tel">
            </div>
         </div>
         <input type="submit" value="Submit">
      </form>
   </div>


</body>

</html>
